
<section class="caseTop">
	<div class="mainDiv">
		<h1> User Camera Studies </h1>
		<p> This article will show you the museum trough the eyes of the visitor. Blablabla. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum ratione eos laudantium, nisi porro quos dignissimos. Odio iure, in, et natus debitis laboriosam dignissimos praesentium, vero neque fugit, totam libero. </p>
	</div>
</section>
<section class="casePersons">
	<div class="headerDiv">
		<h1> Three Persons, One Museum...</h1>
		<p class="headerText"> Here we introduce the three main actors of this essay.</p>
	</div>

	<div class="identContainer">
		<div class="identDiv clearfix"> 
			<h2> Person 1 </h2>
			<img src="./images/male-icon.png" alt="">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi necessitatibus et, ipsum nisi quisquam quasi quidem quia dolorem mollitia voluptatum aut aperiam nihil pariatur, quos itaque, inventore veritatis ea. Tenetur.</p>
		</div>
		<div class="identDiv clearfix"> 
			<h2> Person 2 </h2>
			<img src="./images/female-icon.png" alt="">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero sequi numquam provident laudantium sunt illo, iusto! Id laborum perferendis, commodi ducimus dicta ea, animi reprehenderit placeat non veniam sunt consectetur.</p>
		</div>
		<div class="identDiv clearfix"> 
			<h2> Person 3 </h2>
			<img src="./images/male-icon.png" alt="">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda iste cum enim quia dolorem. Quibusdam aut dolores facere. In itaque mollitia, sint harum obcaecati? Libero autem placeat amet, officia illum.</p>
		</div>	
	</div>

	<p>	<br>I guess my clearfix is only partially working!!! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam, fugiat at similique impedit ea sed provident quam adipisci accusamus mollitia, sequi, commodi reprehenderit. Ex quibusdam maxime veritatis, eos nesciunt laudantium!</p>

</section>
<section class="singleCaseIntro">
	<h1> The mysterious mr. B </h1>
</section>
<section class="singleCaseTop">
	<h1> and his quest </h1>
	<img src="./images/rijksdoorzicht.png">
</section>
<section class="singleCaseBody">
	

</section>
<section class="singleCaseExplain">


</section>
<section class="transitionToAllArticle">
	
</section>
<section class="allCasesArticle">
	
</section>	
