<section class="container-fluid maintro">
	<div class="col-md-6 col-sm-8 col-xs-12">
		<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est, quisquam dolore ipsum molestias rerum maiores? Quaerat voluptates pariatur maiores reiciendis. Repellendus quo debitis velit, natus asperiores fugiat dolores perferendis voluptatem.</div>
		<div>Harum earum quisquam fuga quidem ipsam voluptates cumque vel dolore placeat iure adipisci animi non, ab libero exercitationem atque optio distinctio numquam repellat iusto omnis quo ullam. Eius vero, laboriosam.</div>
		<div>Ea nesciunt odio omnis. Blanditiis, debitis obcaecati? Minima odit, modi vel quibusdam sit quaerat. Dolorem odit ad sequi corrupti esse, dignissimos totam quaerat quam repudiandae quae quos quisquam omnis porro!</div>
		<div>Architecto laboriosam unde voluptatem neque saepe perferendis tempore expedita itaque dolorem accusamus, culpa possimus, ea. Facere laudantium iste mollitia, dolore eum commodi ad, voluptatem, totam labore sunt consequatur dolorum sequi!</div>
		<div>Corporis pariatur eos culpa animi porro distinctio sed eaque alias dolore necessitatibus quisquam dolores optio, quidem, commodi dignissimos enim exercitationem esse nesciunt saepe asperiores, quam inventore? Iure, eum repellendus veritatis!</div>
		<div>Vitae quisquam, reiciendis. Neque mollitia, tempora vel delectus nobis fuga, explicabo sapiente in dolore esse atque quis error fugit veritatis quam molestias rerum assumenda possimus impedit labore repellendus. Nam, doloremque.</div>
		<div>Adipisci eos asperiores recusandae aut facere quae voluptatum ut. Facere ratione vero quisquam aperiam, illo, impedit iusto placeat? Excepturi culpa facere, alias, harum ipsa quos? Voluptatem laboriosam doloribus cumque laudantium?</div>
		<div>Dolores vitae nisi nulla recusandae nobis! Illum sapiente quas provident repellendus qui nam, id ullam aperiam, odio fugiat unde magnam iure. Alias quis quasi itaque facilis. Unde doloribus dignissimos earum.</div>
		<div>Repellendus, quasi esse eligendi accusamus culpa aperiam est magnam modi dignissimos eos repudiandae deserunt maxime maiores provident, iusto magni, id quos perferendis nostrum porro mollitia. Aperiam consequatur cumque vitae asperiores?</div>
		<div>Autem culpa reprehenderit eligendi molestias dignissimos corrupti eveniet pariatur nobis sint voluptatem libero non repellendus ut est sit obcaecati nisi perspiciatis ipsam natus, cupiditate officia alias provident eaque dolorem. Non?</div>
	</div>

	<div class="col-md-6 col-xs-12">
		<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum labore perferendis, debitis odit totam animi, veritatis maxime temporibus similique libero ex, esse ea mollitia adipisci fugiat quod dolores consequatur ut.</div>
		<div>Placeat nulla molestiae architecto facere at laborum iste eligendi, cupiditate doloremque sint, maxime consequuntur? Iure fuga debitis natus atque, cum eveniet quidem accusamus, eius voluptatum fugit magnam adipisci dignissimos, corporis.</div>
	</div>
	<h1>mainintro</h1>
</section>
<section class="container-fluid understand">
	<h1>understand</h1>
</section>
<section class="container-fluid assumptions">
	<h1>assumption</h1>
</section>
<section class="container-fluid videostudy">
	<h1>video</h1>
</section>
<section class="container-fluid infographic">
	<h1>graphic</h1>
</section>
<section class="container-fluid masonry">
	<h1>masonry</h1>
</section>
<section class="container-fluid endtro">
	<h1>endtro</h1>
</section>