<section class="homeContainer">
	<section class="homeHeader">
		<div class="title">
			<!-- <img src="images/icons/black_arrow.png" alt=""> -->
			<h1>Augmenting Masterpieces &nbsp;&#8594; </h1>
			<h2>…at the Rijksmuseum Amsterdam through human-centered design and artistic research.</h2>
			<p>Augmenting Masterpieces is interested in finding ways of reducing the gap between academic research and creative production, while doing justice to the different modes of generating knowledge and objects. We explore visitors' experiences and the social dimensions of a museum. We ideate and prototype a digital interface that connects the physical and digital collection. We combine interdisciplinary methods and expertise. To create a very basic prerequisite for the visitors' art reception.</p>
		</div>
		<div class="whiteTransition"></div>
	</section>
	<section class="homeVideo">
		<h2 class="quote">"We’ve all observed visitors taking the #museumselfie, and a smaller cohort of visitors taking photos of object labels, and we’ve all seen families struggle with the anti-social nature of audioguides." - Seb Chan</h2>
		<video src="../video/AM_background_test.mp4" controls class="introVid"></video>
	</section>
	<section class="homeButtonSection">
		<div class="whiteTransition inverse"></div>
		<div class="buttonDiv">
			<h1> &#8592;&nbsp; Video &nbsp;&nbsp;&nbsp; <a href="#case-study"> Case Study </a> &nbsp;&nbsp;&nbsp; Methods &nbsp;&#8594; </h1>
			<h1 class="arrow"> &nbsp;&#8595; </h1>
			<h2>“When I have a camera in my hand, I dare to walk in front of a painting. It's like having permission to crawl through the masses.” - participant UCS</h2>
		</div>
	</section>
	<section class="homeMethods">
		<div class="methodsList">
			<h4>Methods</h4>
			<hr>
			<p>Interdisciplinary Approach</p>
			<p>Embedded Research</p>
			<p>Artistic Research</p>
			<p>Design Thinking</p>
			<p>Digital Humanities</p>
			<h4>References</h4>
			<hr>
			<p>Literature</p>
			<p>Videogallery</p>
		</div>
		<div class="methodsContent">
			<h4>Interdisciplinary Approach (method)</h4>
			<p>Embedded research projects who stimulate collaborations between the creative industries and university research enable new forms of research. As do Artistic Research, Design Thinking and Digital Humanities. Each of them is a rather new discipline of itself. In order to do justice to the new goals of not only theoretically investigate, but also practically implement research results within the same project, a new set of tools and possible forms for output are necessary. The methodological combination of the above mentioned toolboxes guarantees an adequate interdisciplinary assemblage of techniques and media. Whereas Artistic Research allows to creatively and practically work with post-modern theories, the Design Thinking approach gives access to co-creation frameworks and user innovation while building a product-oriented bridge between research and prototype. The overarching question of how digitality enters musea through which technology nowadays.  </p>
			<h4>Embedded Research (method)</h4>
			<p>As embedded research project, Augmenting Masterpieces takes a close look at social aspects and focuses on visitor interaction before exploring technological enhancements and building prototypes. Through need-oriented, user centered and creative methods from both design thinking and artistic research, gaining necessary technical expertise through collaborating with private partners and carefully documenting the process, we not only present our research, but also offer support for others who might want to investigate questions around digitality in their museums or institutions.  </p>
			<h4>Artistic Research (method)</h4>
			<p>As embedded research project, Augmenting Masterpieces takes a close look at social aspects and focuses on visitor interaction before exploring technological enhancements and building prototypes. Through need-oriented, user centered and creative methods from both design thinking and artistic research, gaining necessary technical expertise through collaborating with private partners and carefully documenting the process, we not only present our research, but also offer support for others who might want to investigate questions around digitality in their museums or institutions.  </p>
			<h4>Design Thinking (method)</h4>
			<p>As embedded research project, Augmenting Masterpieces takes a close look at social aspects and focuses on visitor interaction before exploring technological enhancements and building prototypes. Through need-oriented, user centered and creative methods from both design thinking and artistic research, gaining necessary technical expertise through collaborating with private partners and carefully documenting the process, we not only present our research, but also offer support for others who might want to investigate questions around digitality in their museums or institutions.  </p>
			<h4>Digital Humanities (method)</h4>
			<p>This project approaches the collection of the Rijksmuseum primarily as data rather than artworks. This is in no way an attempt to diminish the value of the painting, but rather a shift in perspective in order to discover new ways of interacting and discovering hidden treasures in these famous artworks. This project aims at building a bridge between the practical dimensions of datavisualisation and interaction design on the one hand, and the theoretical concerns of art history and audience studies on the other. Practices of visualisation seem to be an excellent fit for the humanities.  </p>
		</div>
	</section>
	<section class="homeButtonSection homePrototype">
		<div class="buttonDiv">
			<div class="verticalButton">
				<h1> &#8592;&nbsp; Methods &nbsp;&nbsp;&nbsp; <a href="#prototypes">Prototypes</a>	 &nbsp;&nbsp;&nbsp; About &nbsp;&#8594; </h1>
				<h1 class="arrow"> &nbsp;&#8595; </h1>
				<p>(available soon)</p>
			</div>
		</div>
		<div class="whiteTransition"></div>
	</section>
	<section class="homeAbout">
		<div class="people clearfix">
			<h4>People</h4>
			<div class="person clearfix">
				<img src="" alt="">
				<p>Johanna Barnbeck</p>
			</div>
			<div class="person clearfix">
				<img src="" alt="">
				<p>Jan Hein Hoogstad</p>
			</div>
			<div class="person clearfix">
				<img src="" alt="">
				<p>Shailo Philips</p>
			</div>
			<div class="person clearfix">
				<img src="" alt="">
				<p>Patty Jansen</p>
			</div>
			<div class="person clearfix">
				<img src="" alt="">
				<p>Robert-Jan Korteschiel</p>
			</div>
		</div>
		<div class="timeline">
			<h4>Timeline</h4>
			<div class="theLine"></div>
			<div class="left">
				<div class="singleTimeItem date"><h4>2014</h4></div>
				<div class="singleTimeItem">
					<div class="timePoint"></div>
					<p>Pitch</p>
				</div>
				<div class="singleTimeItem">
					<div class="timePoint"></div>
					<p>Observe</p>
				</div>
				<div class="singleTimeItem">
					<div class="timePoint"></div>
					<p>Ideate</p>
				</div>
				<div class="singleTimeItem">
					<div class="timePoint"></div>
					<p>Prototype</p>
				</div>
				<div class="singleTimeItem">
					<div class="timePoint"></div>
					<p>Wrapup</p>
				</div>
				<div class="singleTimeItem date"><h4>2015</h4></div>
			</div>
			<div class="right"> 
				<h4>Observe</h4>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt esse fuga ipsam, pariatur iusto consectetur, blanditiis dolor distinctio, mollitia facilis totam. Laboriosam labore, cumque, repudiandae voluptate repellat illum id, quaerat eveniet doloribus quis suscipit, quia sapiente quo officiis ipsa. Error delectus veritatis fuga pariatur soluta assumenda ipsum, dicta ex ab, quis facilis totam. Voluptates, vel vitae nostrum accusantium molestias provident impedit enim esse quaerat omnis culpa sit incidunt beatae dolor assumenda tempora laudantium magni, eum, doloremque illum similique fugiat iusto veniam corrupti! Enim veniam ea natus nam rerum ad temporibus debitis sapiente! Perspiciatis, sunt libero amet veniam, eos quis quidem.</p> 
			</div>
		</div>
	</section>
	<section class="homeConnect">
		<div class="whiteTransition inverse"></div>
		<div class="connectMain">
			<div class="title">
				<h1>&#8592;&nbsp; Augmenting Masterpieces</h1>
				<h2>Humans, The Museum and Technology</h2>
			</div>
			<div class="waysToConnectContainer">
				<div class="connectBoxes">
					<h4>Follow us!</h4>
					<ul class="socialIcon clearfix">
						<li class="facebook"></li>
						<li class="twitter"></li>
						<li class="google"></li>
						<li class="rss"></li>
					</ul>
					<h4> Mailing list </h4>
					<form>
						<label>
							<span> Name: </span><input type="text" name="name">
						</label><br>
						<label>
							<span> E-mail: </span><input type="email" name="user_email">
						</label>
					</form>
					<p class="smalltext">(Low frequency)</p>
				</div>
			</div>
		</div>
	</section>
</section>

