<section class="homeContainer">
	<section class="homeHeader">
		<div class="title">
			<h1>A<span>UGMENTING</span><span class="second">&nbsp;M</span><span>ASTERPIECES &#8594;</span> </h1>
			<!-- <h2>...through embedded research and human-centered design.</h2 > -->

			<p>Augmenting Masterpieces explores visitors' experiences and the social dimensions of a visit to the Rijksmuseum. It translates the findings into an interface which lets the visitor interact with both the physical and the digital collection.
			   Through embedded and artistic research methods the project reduces the gap between academic research and creative production. Its results manifest in a prototype, academic articles and this multi-medial presentation.</p>
			<div class="logos">
				<a href="https://www.rijksmuseum.nl/"><img src="./images/logos/rijkswhite.png"></a>
				<a href="http://cdh.uva.nl/"><img src="./images/logos/uvalogowhite.png"></a>
			</div>
		</div>
	</section>
	<section class="homeVideo">
		<div class="contents .glass">
			<h2 class="quote">"We’ve all observed visitors taking the #museumselfie, ...<br>taking photos of object labels, and we’ve all seen families <br>struggle with the anti-social nature of audioguides."<br> - Seb Chan, Director of Digital & Emerging Media, Smithsonian, New York</h2>
			<iframe src="http://prezi.com/embed/vz3s0inp6iyg/?bgcolor=ffffff&amp;lock_to_path=0&amp;autoplay=0&amp;autohide_ctrls=0&amp;features=undefined&amp;disabled_features=undefined" frameBorder="0" webkitAllowFullScreen mozAllowFullscreen allowfullscreen></iframe>
		</div>
	</section>
	<section class="homeButtonSection homeCaseStudy">
		<h1><a href="#case-study">U<span>SER </span>C<span>AMERA </span>S<span>TUDY </span></a></h1>
		<h2>“When I have a camera in my hand, I dare to walk in front of a painting. It's like having permission to crawl through the masses.” - participant UCS</h2>
		<h1 class="arrow">&#8595; </h1>
	</section>
	<section class="homeMethods">
		<div class="methodsList">
			<h4>Methods</h4>
			<hr>
			<p>Interdisciplinary Approach</p>
			<p>Embedded Research</p>
			<p>Artistic Research</p>
			<p>Design Thinking</p>
			<p>Digital Humanities</p>
			<h4>References</h4>
			<hr>
			<p>Literature</p>
			<p>Videogallery</p>
			<p>References</p>
		</div>
		<div class="methodsContent">
			<h4>Interdisciplinary Approach</h4>
			<p>Embedded research projects who stimulate collaborations between the creative industries and university research enable new forms of research. As do Artistic Research, Design Thinking and Digital Humanities. Each of them is a rather new discipline of itself. In order to do justice to the new goals of not only theoretically investigate, but also practically implement research results within the same project, a new set of tools and possible forms for output are necessary. The methodological combination of the above mentioned toolboxes guarantees an adequate interdisciplinary assemblage of techniques and media. Whereas Artistic Research allows to creatively and practically work with post-modern theories, the Design Thinking approach gives access to co-creation frameworks and user innovation while building a product-oriented bridge between research and prototype. The overarching question of how digitality enters musea through which technology nowadays.  </p>
			<h4>Embedded Research</h4>
			<p>As embedded research project, Augmenting Masterpieces takes a close look at social aspects and focuses on visitor interaction before exploring technological enhancements and building prototypes. Through need-oriented, user centered and creative methods from both design thinking and artistic research, gaining necessary technical expertise through collaborating with private partners and carefully documenting the process, we not only present our research, but also offer support for others who might want to investigate questions around digitality in their museums or institutions.  </p>
			<h4>Artistic Research</h4>
			<p>As embedded research project, Augmenting Masterpieces takes a close look at social aspects and focuses on visitor interaction before exploring technological enhancements and building prototypes. Through need-oriented, user centered and creative methods from both design thinking and artistic research, gaining necessary technical expertise through collaborating with private partners and carefully documenting the process, we not only present our research, but also offer support for others who might want to investigate questions around digitality in their museums or institutions.  </p>
			<h4>Design Thinking</h4>
			<p>As embedded research project, Augmenting Masterpieces takes a close look at social aspects and focuses on visitor interaction before exploring technological enhancements and building prototypes. Through need-oriented, user centered and creative methods from both design thinking and artistic research, gaining necessary technical expertise through collaborating with private partners and carefully documenting the process, we not only present our research, but also offer support for others who might want to investigate questions around digitality in their museums or institutions.  </p>
			<h4>Digital Humanities</h4>
			<p>This project approaches the collection of the Rijksmuseum primarily as data rather than artworks. This is in no way an attempt to diminish the value of the painting, but rather a shift in perspective in order to discover new ways of interacting and discovering hidden treasures in these famous artworks. This project aims at building a bridge between the practical dimensions of datavisualisation and interaction design on the one hand, and the theoretical concerns of art history and audience studies on the other. Practices of visualisation seem to be an excellent fit for the humanities.  </p>
			
			<hr>

			<h4>Literature</h4>
			<ol>
				<li>A Touch of Code. Interactive Installations and Experiences. Ed. Robert Klanten, Sven Ehmann, and Verena Hanschke. Berlin: Gestalten, 2011. Print.</li>

				<li>Bal, Mieke. Reading Rembrandt: Beyond the Word-Image Opposition. Amsterdam: Amsterdam University Press, 2006. Print.</li>

				<li>Birringer, Johannes “Moveable worlds/Digital scenographies”,            International Journal of Performance Arts &amp; Digital Media, Volume 6, Number 1, 1 June 2010 , pp. 89-107(19).</li>

				<li>Bostock, Michael, Vadim Ogievetsky, and Jeffrey Heer. “D3: Data-Driven Documents” IEEE Trans. Visualization &amp; Comp. Graphics. 2011. Online.</li>

				<li>Bullivant, Lucy. Interactive Architecture 4D Social: Interactive Design Environments. Indianapolis: Wiley and Sons, 2007. Print.</li>

				<li>Certeau, Michel de. “Spatial Stories.” The Practice of Everyday Life. Minneapolis: University Of Minnesota Press, 1984. 115–130. Print.</li>

				<li>Falk, J. (2009). Identity and the Museum Visitor Experience. Walnut Creek, CA Left Coast Press.</li>

				<li>Glogner, Patrick; Föhl, Patrick (2010) Das Kulturpublikum:             Fragestellungen und Befunde der empirischen Forschung. VS Verlag für Sozialwissenschaften.</li>

				<li>Heer, Jeffrey, Bostock Mike. “Declarative Language Design for Interactive Visualization.” IEEE Trans. Visualization &amp; Comp. Graphics. 2010. Online.</li>

				<li>Hermes, Joke “Audience Studies 2.0. On the theory, politics and method of qualitative audience research.” In: Interactions: Studies in       Communication &amp; Culture, Volume 1, Number 1, 1 September 2009, pp. 111-127(17).</li>

				<li>Informotion. Animated Infographics. Ed. Tim Finke and Sebastian Manger.Berlin: Gestalten, 2012. Print.</li>

				<li>Kirchberg, Volker (2009) Innovative Besucher- und Museumsforschung: Hintergrundbericht, http://www.kulturmanagement.net/beitraege/prm/39/v__d/ni__879/index.html</li>

				<li>Kittler, Friedrich. “The Perspective of Print.” Configurations. 10.1 (2002): 37–50. Print. “Universities: Wet, Hard, Soft, and Harder.” Critical Inquiry 31.1 (2004): 244–255. Print.</li>

				<li>Kossman, Herman, and Mark de Jong. Engaging Spaces: Exhibition DesignExplored. Amsterdam: Frame, 2010. Print.</li>

				<li>Museum Informatics: People, Information, and Technology in Museums. Ed. Paul F. Marty, and Katherine Burton Burton Jones. New York: Routledge, 2009. Print.</li>

				<li>Park, Ki-Woong, et al. “Towards Interactive Museum: Mapping Cultural</li>

				<li> Contexts to Historical Objects.” Relation 10.1.142 (2009): 5630. Print.</li>

				<li>Parry, Ross. Museums in a Digital Age. New York: Routledge, 2010. Print.</li>

				<li>Reas, Casey, and Ben Fry. Processing. A Programming Handbook for Visual Designers and Artists. Cambridge MA: MIT Press, 2007. Print.</li>

				<li>Renden, Sandra. Information Graphics. Ed. Julius Wiedemann. Cologne:</li>

				<li>Taschen, 2012. Print.</li>

				<li>Ronell, Avitall. “Proving Grounds: On Nietzsche and the Test Drive.” MLN.118.3 (2003): 653–669. Print.</li>

				<li>Rowea, Anthony “Digital Creativity - Designing for engagement in mixed reality experiences that combine projection mapping and camera- based interaction.” http://www.tandfonline.com/toc/ndcr20/current#.UZOLYCvOSjw</li>

				<li>Simon, Nina. The Participatory Museum. Santa Cruz, CA: Museum 2.0, 2010.Print. </li>
			
				<li>Smeets, Ionica &amp; Schraffenberger Hanna “OK, Glass?”, In: AR[t] – Augmented Reality, Art and Technology, 04 nov 2013, p. 42-48. http://issuu.com/arlab/docs/art4_issuu</li>

				<li>Schraffenberger, Hanna &amp; E. van der Heide “Interaction Models for Audience-Artwork Interaction: Current State and Future Directions.” In: Arts and Technology, Second International Conference, ArtsIT 2011, Lecture Notes of the Institute for Computer Sciences, Social Informatics and Telecommunications Engineering (LNICST), 2011.</li>

				<li>Tröndle, Martin (2011): The Entanglement of Arts and Sciences: On the Transaction Costs of Transdisciplinary Research Settings. In: Journalfor Artistic Research. Issue 1.</li>

				<li>Tröndle, Martin / Greenwood, Steven / Kirchberg, Volker / Tschacher, Wolfgang: An Integrative and Comprehensive Methodology for Studying Aesthetic Experience in the Field: Merging Movement Tracking, Physiology and Psychological Data. Environment and Behavior. 2012. doi:10.1177/0013916512453839</li>

				<li>Tschacher, Wolfgang (2012). Physiological correlates of aesthetic perception in a museum, In: Journal of Psychology of Aesthetics, Creativity, and the Arts, 6, 96-103. doi: 10.1037/a0023845</li>

				<li>Tufte, Edward R. Visual Explanations: Images and Quantities, Evidence and Narrative. Chesire CT: Graphics Press, 1997. Print.</li>

				<li>Van Hage, Willem Robert, et al. “Finding your way through the Rijksmuseum with an adaptive mobile museum guide.” The Semantic Web: Research and Applications. Berlin: Springer, 2010. 46–59. Print.</li>

				<li>Visser, Jasper; Richardson, Jim (2013) Digital Engagement In Culture, Heritage and the Arts.http://www.digitalengagementframework.com/</li>
			</ol>
		</div>
	</section>
	<section class="homeButtonSection homePrototype">
		<h1><a href="#prototypes">P<span>ROTOTYPE</span></a></h1>
		<h2>We are working on it!</h2>
		<h1 class="arrow"> &#8595; </h1>
	</section>
	<section class="homeAbout">
		<div class="people clearfix">
			<h4>People</h4>
			<div class="person clearfix">
				<img src="./images/persons/johanna2.jpg" alt="Embedded Researcher UvA -> Rijksmuseum">
				<p>Johanna Barnbeck</p>
			</div>
			<div class="person clearfix">
				<img src="./images/persons/janHein.jpg" alt="Jan Hein Hoogstad - Assistant Professor Cultural Analasis">
				<p>Jan Hein Hoogstad</p>
			</div>
			<div class="person clearfix">
				<img src="./images/persons/shailoh.jpg" alt="" class="none">
				<p>Shailoh Phillips</p>
			</div>
			<div class="person clearfix">
				<img src="./images/persons/patty.jpg" alt="Intern and Thesis">
				<p>Patty Jansen</p>
			</div>
			<div class="person clearfix">
				<img src="./images/persons/robert.jpg" alt="Intern">
				<p>Robert-Jan Korteschiel</p>
			</div>
		</div>
		<div class="timeline">
			<h4 class="timelineTitle">Timeline</h4>
			<div class="theLine"></div>
			<div class="left">
				<div class="singleTimeItem date"><h4>2014</h4></div>
				<div class="singleTimeItem">
					<div class="timePoint"></div>
					<p>Understand</p>
				</div>
				<div class="singleTimeItem">
					<div class="timePoint"></div>
					<p>Ideate</p>
				</div>
				<div class="singleTimeItem">
					<div class="timePoint"></div>
					<p>Prototype</p>
				</div>
				<div class="singleTimeItem">
					<div class="timePoint"></div>
					<p>Test</p>
				</div>
				<div class="singleTimeItem">
					<div class="timePoint"></div>
					<p>Present</p>
				</div>
				<div class="singleTimeItem date"><h4>2015</h4></div>
			</div>
			<div class="right"> 
				<h4>Understand</h4>
				<p>The first phase of the project consists of understanding how the employees run the Rijksmuseum on a daily basis, the digital engagement methods they set up, the experiences the visitors make when using the digital interfaces and the experiences the visitors make inside the museum. In order to understand what efforts are taken by the museum itself, I will interview and engage with the people working in different departments of the Rijksmuseum.
				Further, I try to understand the visitor's experience and modes of engagement through a Camera User Study, by interviewing visitors, by equipping visitors with helmet cameras which deliver a Point-of-View-video of the museum visit and by observing and capturing gestures and body language of the visitors.</p> 
			</div>
		</div>
	</section>
	<section class="homeConnect">
		<div class="title">
			<h1>A<span>UGMENTING</span><span class="second">&nbsp;M</span><span>ASTERPIECES</span> </h1>
			<!-- <h2>...through embedded research and human-centered design.</h2 > -->

			<p>Augmenting Masterpieces explores visitors' experiences and the social dimensions of a visit to the Rijksmuseum. It translates the findings into an interface which lets the visitor interact with both the physical and the digital collection.
			   Through embedded and artistic research methods the project reduces the gap between academic research and creative production. Its results manifest in a prototype, academic articles and this multi-medial presentation.</p>
			<div class="logos">
				<a href="https://www.rijksmuseum.nl/"><img src="./images/logos/rijkswhite.png"></a>
				<a href="http://cdh.uva.nl/"><img src="./images/logos/uvalogowhite.png"></a>
			</div>
		</div>
	</section>
</section>

