<section ng-include=" '../templates/content/header.html' " class="row block maintro panelforSnapping"></section>
<section ng-include=" '../templates/content/assumptions.html' " id="understand" class="row block panelforSnapping"></section>
<section ng-include=" '../templates/content/usercamerastudy.html' " id="analyse" class="row block panelforSnapping"></section>
<section ng-include=" '../templates/content/uservideostudy.html' " class="row block panelforSnapping"></section>
<section ng-include=" '../templates/content/survey.html' " class="row block panelforSnapping"></section>
<section ng-include=" '../templates/content/masonry.html' " id="prototype" class="row block panelforSnapping"></section>
<section ng-include=" '../templates/content/demo.html' " id="evaluate" class="row block panelforSnapping"></section>
<section ng-include=" '../templates/content/evaluation.html' " id="evaluate" class="row block panelforSnapping"></section>
<section ng-include=" '../templates/content/theory.html' " id="evaluate" class="row block panelforSnapping"></section>