<section ui-view="header" class="row block maintro panelforSnapping"></section>
<section ui-view="assumptions" id="understand" class="row block panelforSnapping"></section>
<section ui-view="usercamerastudy" class="row block panelforSnapping"></section>
<section ui-view="uservideostudy" id="analyse" class="row block panelforSnapping"></section>
<section ui-view="survey" class="row block panelforSnapping"></section>
<section ui-view="masonry" class="row block panelforSnapping"></section>
<section ui-view="demo" id="prototype" class="row block panelforSnapping"></section>
<section ui-view="evaluation" id="evaluate" class="row block panelforSnapping"></section>