<section ui-view="header" id="main" class="row block maintro panelforSnapping"></section>
<section ui-view="assumptions" id="understand" class="row block assumptions panelforSnapping"></section>
<section ui-view="usercamerastudy" class="row block panelforSnapping"></section>
<section id="analyse" class="row block intermezzoAnalyse panelforSnapping"></section>
<section ui-view="survey" class="row block panelforSnapping"></section>
<section ui-view="masonryviewer" class="row block masonry panelforSnapping"></section>
<section id="prototype" class="row block intermezzoProto panelforSnapping"></section>
<section ui-view="demo" class="row block panelforSnapping"></section>
<section id="evaluate" class="row block intermezzoEvaluate panelforSnapping"></section>
<section ui-view="evaluation" class="row block panelforSnapping"></section>
<section id="theory" class="row block intermezzoTheory panelforSnapping"></section>
<section ui-view="theory" class="row block panelforSnapping"></section>
