<div ui-view="nav"></div>  
<section id="understand" ui-view="header" class="row block maintro"></section>
<!-- <section ui-view="processmap" class="row block processmap"></section>
<section class="row block intermezzo understand">
	<h1 id="understand" class="col-lg-9 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-11 col-sm-offset-1 col-xs-24 col-xs-offset-0"><span>Understand</span> and <span>Observe</span> </h1>
</section> -->
<section ui-view="assumptions" class="row block assumptions"></section>
<section ui-view="usercamerastudy" class="row block userCameraStudy"></section>
<section id="analyse" class="row block intermezzo analyse">
	<h1 class="col-lg-9 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-11 col-sm-offset-1 col-xs-24 col-xs-offset-0"><span>Analyse</span> and <span>Ideate</span> </h1>
</section>
<section ui-view="survey" class="row block"></section>
<section ui-view="masonryviewer" class="row block masonry"></section>
<section id="prototype" class="row block intermezzo proto">
	<h1 class="col-lg-9 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-11 col-sm-offset-1 col-xs-24 col-xs-offset-0"><span>Prototype</span> and <span>Test</span></h1>
</section>
<section ui-view="demo" class="row block"></section>
<section id="evaluate" class="row block intermezzo evaluate">
	<h1 class="col-lg-9 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-11 col-sm-offset-1 col-xs-24 col-xs-offset-0"><span>Evaluate</span> and <span>Outlook</span></h1>
</section>
<section ui-view="evaluation" class="row block"></section>
<section id="theory" class="row block intermezzo theory">
	<h1 class="col-lg-9 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-11 col-sm-offset-1 col-xs-24 col-xs-offset-0"><span>Theory</span> and <span>Methods</span></h1>
</section>
<section ui-view="theory" class="row block"></section>
<section ui-view="literature" class="row block literature"></section>
<section id="about" class="row block intermezzo about">
	<h1 class="col-lg-9 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-11 col-sm-offset-1 col-xs-24 col-xs-offset-0"><span>About</span></h1>
</section>
<section ui-view="about" class="row block people"></section>
<footer ui-view="footer" class="clearfix row"></footer>
