<section class="featured-spotlight" scroll-into-view ui-sref-active="active" class="active" selected="{{post.selected}}" id="{{post.id}}" ng-repeat="post in postList.posts">
  <div class="image">
    <a href ui-sref="posts.post({post_id: post.id})">
    <img ng-src="{{post.topImage.url}}">
    <h1 class="medium">{{post.title}}</h1>
  </a>
  </div>
  <article class="expanded post g-medium--full g-wide--full cssFade"}}>
    <div ng-bind-html="post.content | markdown"></div>
    <div class="meta">
      <ul class="list-links list-links--secondary">
        <li ng-repeat="author in post.authors">{{author}}</li>
      </ul>
    </div>
  </article>
</section>
