<section my-scroll selected="{{post.selected}}" id="{{post.id}}" class="featured-spotlight" ng-repeat="post in postList.posts">
  <div class="image">
    <a href ui-sref="posts.post({post_id: post.id})">
    <img ng-src="{{post.topImage.url}}">
    <h1 class="medium">{{post.title}}</h1>
  </a>
  </div>
  <article ng-show="{{post.selected}}" class="expanded post g-medium--full g-wide--full"}}>
    <div ng-bind-html="post.content | markdown"></div>
    <div class="meta">
      <ul class="list-links list-links--secondary">
        <li ng-repeat="author in post.authors">{{author}}</li>
      </ul>
    </div>
  </article>
</section>
