<div class="col-lg-12 col-lg-offset-1 col-md-12 col-md-offset-1 col-sm-12 col-sm-offset-1 col-xs-12 col-xs-offset-0">
	<h1>About</h1>
	<h4>People</h4>

</div>

	<div class="col-lg-5 col-lg-offset-1 col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-12 col-xs-offset-0">
			<div class="person clearfix">
				<img src="./images/persons/johanna2.jpg" alt="Embedded Researcher UvA -> Rijksmuseum">
				<p>Johanna Barnbeck</p>
			</div>
			<div class="person clearfix">
				<img src="./images/persons/janHein.jpg" alt="Jan Hein Hoogstad - Assistant Professor Cultural Analysis">
				<p>Jan Hein Hoogstad</p>
				<p>Assistant Professor Cultural Analysis</p>
			</div>
			<div class="person clearfix">
				<img src="./images/persons/shailoh.jpg" alt="" class="none">
				<p>Shailoh Phillips</p>
			</div>
	</div>


	<div class="col-lg-5 col-lg-offset-0 col-md-5 col-md-offset-0 col-sm-5 col-sm-offset-0 col-xs-12 col-xs-offset-0" >

			<div class="person clearfix">
				<img src="./images/persons/patty.jpg" alt="Intern and Thesis">
				<p>Patty Jansen</p>
			</div>
			<div class="person clearfix">
				<img src="./images/persons/robert.jpg" alt="Intern">
				<p>Robert-Jan Korteschiel</p>
			</div>
			<div class="person clearfix">
				<p>CONTACT</p>
			</div>
	</div>


