<div class="col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-1 col-sm-5 col-sm-offset-1 col-xs-10 col-xs-offset-1 block">
	<div class="contents">
		<div class="vAlign">
			<h1> Header 1 </h1>
			<h2> Header 2 </h2>
			<h3> Header 3 </h3>
			<h4> Header 4 </h4>
			<h5> Header 5 </h5>
			<h6> Header 6 </h6>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A magni veniam quas fuga quisquam quaerat voluptates, molestias, labore inventore ullam. Sit porro consectetur ipsa nostrum cupiditate, unde. Voluptatibus voluptate minima ullam voluptatum iure beatae, ut eligendi est, ad eum repellat, laudantium, iusto magni quaerat saepe. A doloribus unde, modi, quo minus deserunt, eum dolor accusantium illum aspernatur quasi, maxime distinctio obcaecati itaque iste. Facere aperiam, placeat. Quos quas nemo, in deleniti.</p>
			<a href="#">Im a bigger link</a>
		</div>
	</div>
</div>
<div class="col-lg-4 col-md-5 col-sm-5 col-sm-offset-1 col-xs-10 col-xs-offset-1 block">
	<div class="contents">
		<div class="vAlign">
			<img class="child" src="#">
		</div>
	</div>	
</div>
<hr>