
<div class="col-md-9 col-md-offset-3 col-sm-12 col-xs-12 col-xs-offset-0">
	<div class="title">
		<h1><span>AUGMENTING</span>&nbsp;<span> MASTERPIECES</span></h1>
		<p>Augmenting Masterpieces explores visitors' experiences and the social dimensions of a visit to the Rijksmuseum. It translates the findings into an interface which lets the visitor interact with both the physical and the digital collection. Through embedded and artistic research methods the project reduces the gap between academic research and creative production. Its results manifest in a prototype, academic articles and this multi-medial presentation.</p>
		<div class="logos">
				<a href="https://www.rijksmuseum.nl/"><img src="./images/logos/rijkswhite.png"></a>
				&nbsp;&nbsp;&nbsp;&nbsp;
				<a href="http://cdh.uva.nl/"><img src="./images/logos/uvalogowhite.png"></a>
		</div>
	</div> 
</div>