<div class="col-lg-10 col-lg-offset-2 col-md-11 col-md-offset-1 col-sm-12 col-sm-offset-0 col-xs-24 col-xs-offset-0">	
	<h1 id="transcriptHeader"></h1>
	<p id="transcriptSnippet"></p>
	<div id="transcriptIMG"></div>
</div>

<div class="col-lg-10 col-lg-offset-0 col-md-11 col-md-offset-0 col-sm-12 col-sm-offset-0 col-xs-24 col-xs-offset-0">
<!-- 	<blockquote>A detailed profile and script from a participating Cultural Tourist illustrating collected input from museum visitors.</blockquote> -->
	<div id="photoPiece">
		<div class="grid-sizer"></div>
	</div>
</div>

