
<div class="col-lg-4 col-lg-offset-2 col-md-5 col-sm-5 col-sm-offset-1 col-xs-10 col-xs-offset-1 block">
	<iframe src="//player.vimeo.com/video/112510250" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
</div>

<div class="col-lg-4 col-lg-offset-0 col-md-5 col-md-offset-0 col-sm-5 col-sm-offset-0 col-xs-10 col-xs-offset-1 block">
	<p>For the User Video Study, I asked children to wear a camera during their museum visit as their perspective is not only physically different, but their view and span of attention is less trained yet compared to adults.</p>
</div>
