
<div class="col-lg-4 col-md-5 col-sm-5 col-sm-offset-1 col-xs-10 col-xs-offset-1 block">
	<div class="contents">
		<div class="vAlign">
<video class="video" src="video/AM_background_test.mp4" autoplay controls></video>
	</div>
	</div>
</div>

<div class="col-lg-4 col-md-6 col-sm-5 col-sm-offset-1 col-xs-10 col-xs-offset-1 block">
	<div class="contents">
		<div class="vAlign">
			<p>For the User Video Study, I asked children to wear a camera during their museum visit as their perspective is not only physically different, but their view and span of attention is less trained yet compared to adults.</p>
		</div>
	</div>
</div>
<hr>
