.caseTop {
	background: url(./images/rijkswhite.jpg) no-repeat center center / cover;
	background-attachment: fixed;
	min-height: 120vh;
	width: 100vw;
	padding: 30vh 0 0 0;

	h1 {
		box-sizing: border-box;
		color: $gray9;
		font-size: 4em;
		padding-bottom: 1%;
		font-weight: bold;
	}

	p {
		font-size: 1em;
		width: 60vw;
		margin: 0 auto;
	}

	.mainDiv {
		box-sizing: border-box;
		padding: 3%;
		text-align: center;
		background-color: hsla(0, 0%, 90%, 0.8);
		width: 100vw;
	}
}

.casePersons {
	box-sizing: border-box;
	min-height: 120vh;
	width: 100vw;
	padding: 5% 0 10% 0;
	background: hsla(0, 0%, 70%, 1);

	.identContainer {
		width: 90%;
		margin: 5% auto 0 auto;
		padding: 2%;
		background-color: hsla(0, 0%, 40%, 1); 

		.nameDiv {
			width: 30%;
			height: 75vh;
			padding: 3%;
			float: left;

			h2 {
				font-size: 2em;
				text-align: center;
				text-decoration: underline;
			}
			img {
				display: block;
			 	width: 70%;
			 	margin: 0 auto;
			 	padding: 1%;
			 	border: solid 2px hsla(0, 0%, 40%, 1);
			 	background-color: hsla(0, 0%, 80%, 1);	
		    }

			p {
				float: none;
				margin: 0;
				font-size: 1.5em;
			}
		}

		.statsDiv {
			width: 70%;
			height: 75vh;
			display: inline-block;
			background-color: hsla(0, 0%, 50%, 1);
			float: left;

			.pictureStats {
				.mainPicture {
					width: 30%;
					float: left;

					h1 {
						margin: 75px 0 0 0;
						text-align: center;
					} 

					img {
						display: block;
						margin: 0 auto;
						width: 100px;
						height: 100px;
					}
				}
				.threeCatogoryPicture {
					width: 70%;
					float: left;

					.paintings {
						padding: 5% 0;
					}
					.building {
						padding: 5% 0;
					}
					.people {
						padding: 5% 0;
					}
					img {
						width: 50px;
						height: 50px;
						float: left;
					}
					.statBar {
						margin: 0 10%;
						float: left;
						height: 50px;
						width: 50%;
						background-color: hsla(0, 0%, 30%, 1);
					}
				}
			}
			.timeStats {
				height: 30%;
			}

		}
	}
}

.libTransition {
	box-sizing: border-box;
	min-height: 30vh;
	width: 100vw;
	padding: 5% 0 10% 0;
	background: linear-gradient(
	    rgba(88, 88, 88, 0.60), 
	    rgba(88, 88, 88, 0.60)
    ), url(./images/librijks.jpg) no-repeat center center / cover;
	overflow: hidden;
	
	h1 {
		color: $white;
		font-weight: bold;
		font-size: 6em;
		opacity: 0.95;
		text-align: center;
  }

}

.singleCaseTop {
	box-sizing: border-box;
	min-height: 50vh;
	width: 100vw;
	padding: 5% 0 10% 0;

	background-color: hsla(0, 0%, 60%, 1);

	h1 {
		padding: 3%;
		text-align: center;
	}

	img {
		display: block;
		width: 80%;
		margin: 0 auto;
	}
}

.singleCaseBody {
	box-sizing: border-box;
	min-height: 100vh;
	width: 100vw;
	padding: 0;

	background: linear-gradient(
	    hsla(0, 0%, 60%, 0.20),
	    hsla(0, 0%, 60%, 0.20)
    ), url(./images/ucs/1mrB/aGalantCompany.jpg) no-repeat center center / cover;
    background-attachment: fixed;

	.firstSq {
		height: 30vh;

		h1 {
			padding: 5%;
			color: $gray1;
			font-weight: bold;
			font-size: 4em;
			position: relative;
  			top: 50%;
  			transform: translateY(-50%);
		}
	}

	.secondSq {
		height: 30vh;
	}

	.thirdSq {
		min-height: 73vh;
		padding: 5%;

		.conversation {
			display: block;
			height: 60vh;
			padding: 4%;

  			background: hsla(0, 0%, 60%, 0.60);
  			border-radius: 10px;
		}

		p {
			font-size: 1.5em;
		}
	}

	.fourthSq {
		height: 73vh;
		padding: 5%;

		ul {
			display: block;
			height: 60vh;
			padding: 0;

  			background: hsla(0, 0%, 60%, 0.60);
  			border-radius: 10px;
		}
			
		li {
			display: block;
			width: 25%;
			height: 25%;
			margin: (12.5% / 3) (12.5% / 3);
			float: left;
			overflow:hidden;
		}

		img {
			position: relative;
  			top: 50%;
  			transform: translateY(-50%);
			width: 100%;
			height: auto;
		}
	}
}

body {

}

.grayTransition {
	box-sizing: border-box;
	min-height: 25vh;
	width: 100vw;
	background: hsla(0, 0%, 40%, 1);
	padding: 5%;
	text-align: center;

	&.small {
		min-height: 15vh;

		img {
		display: inline-block;
		height: 25px;
		margin: 20px auto 10px auto;
		padding: 0 20px;
	}
	}

	h1 {	
		color: $gray1;
		font-weight: bold;
		font-size: 4em;
		text-decoration: underline;
	}

	p {
		font-size: 2em;
		text-decoration: underline;
	}
}


article {
	box-sizing: border-box;
	min-height: 120vh;
	width: 100vw;
	background: hsla(0, 0%, 90%, 1);
	padding: 5%;

	h1 {
		padding-bottom: 3%;
		color: $gray1;
		font-weight: bold;
		font-size: 6em;
		width: 70%;
		margin: 0 auto; 
	}
	
	p {	
		padding: 1%;
		width: 70%;
		margin: 0 auto; 
		color: $gray9;
		font-size: 1.5em;
		
		
	}
	
	.boldAlinea {
		font-family: NittyBold;
		padding-bottom: 3%;
		font-weight: 900;
		font-size: 1.8em;
	}
	

	img {
		width: 40%;
		float: right;
		padding: 30px;
	}	
}