.caseTopWrapper {
	width: 100vw;
	height: 420vh;
	position: relative;
	overflow: hidden;
	background: transparant;
}

.caseTop {
	background: url(./images/backgrounds/personCamera_crop.jpg) no-repeat center center / cover;			
	background-attachment: fixed;
	height: 200vh;
	width: 100vw;
	position: relative;
	overflow: hidden;

	h1 {
		padding: 60vh 0vw 0 22vw;
		text-align: left;
		letter-spacing: 3px;
		margin: 0;
		span {
			font-size: 0.8em;
		}
	}

	h1.arrow {
		padding: 0vh 0 0 40vw;
		margin: 0;
	}

	h2 {
		margin: 0;
		padding: 0vh 0 0 22vw;
		width: 60vw;
		text-align: left;
		color: white;
		font-family: misolight;
		text-align: left;
		font-size: 1.5em;
	}

	a:hover {
		color: white;
		text-decoration: none;
		transition: letter-spacing 10px;
	}

	&:before {
		content: "";
		transform: skew(-22.5deg,0deg);
		width: 100vw;
		height: 200vh;
		left: -110vw;
		position: absolute;
		background-color: hsla(44, 30%, 80%, 1);
	}

	&:after {
		content: "";
		transform: skew(-22.5deg,0deg);
		width: 50vw;
		height: 200vh;
		position: absolute;
		left: 83vw;
		top: 0;
		background-color: hsla(44, 30%, 80%, 1);
		border-left: solid 10px papayawhip;	
	}
}

.dataVisualisation {
	height: 175vh;
	width: 100vw;
	position: absolute;
	top: 150vh;
	background-color: hsla(44, 30%, 80%, 1);
	z-index: 10;
	border-top: solid 10px papayawhip;	
	text-align: center;
	padding: 2% 0;
	transform: skew(0deg, 22.5deg);

	.colorblocktext {
		width: 30px;
		height: 30px;
		background-color: hsla(15, 79%, 56%, 1);
		position: relative;
		top: 200px;
		left: 200px;
	}


	.textblock1 {
		transform: skew(0deg, -22.5deg);
		position: relative;
		top: 70vh;
		text-align: left;

		h3 {
			text-align: center;
			position: relative;
			width: 100vw;
			padding: 0.5em;
			top: -40vh;
		}

		p {
			display: block;
			width: 27em;
			position: relative;
			left: 30vw;
			top: -40vh;
		}
	}
}

.middlepiece {
	min-height: 180vh;
	width: 100vw;
	position: relative;
	top: 80vh;
	z-index: 0;
	padding-top: 60vh;

	// &:before {
	// 	content: "";
	// 	transform: skew(-32.5deg,0deg);
	// 	width: 125vw;
	// 	height: 300vh;
	// 	left: -110vw;
	// 	position: absolute;
	// 	background-color: hsla(44, 30%, 80%, 1);		
	// }

	// &:after {
	// 	content: "";
	// 	transform: skew(-10.5deg,0deg);
	// 	width: 100vw;
	// 	height: 200vh;
	// 	position: absolute;
	// 	left: 83vw;
	// 	top: 0;
	// 	background-color: hsla(44, 30%, 80%, 1);
	// }

	p:nth-of-type(1) {
		font-color: white;
		width: 33em;
		position: relative;
		left: 10vw;
		border-bottom: solid 2px white;
		background-color: hsla(44, 30%, 100%, 1);
	}

	p:nth-of-type(2) {
		display: block;
		width: 33em;
		position: relative;
		left: 10vw;
		background-color: hsla(44, 30%, 100%, 1);
	}

	p:nth-of-type(3) {
		display: block;
		width: 33em;
		position: relative;
		left: 10vw;
		background-color: hsla(44, 30%, 100%, 1);
		top: solid 10px papayawhip;	
	}
}

.photoSection {
	width: 100vw;
	padding: 20vh 0;
	background-color: hsla(44, 30%, 80%, 1);
	border-top: solid 10px papayawhip;	
	
	#photoPiece {
		margin: 0 auto;
		width: 80vw;
		padding: 2.5vw 2.5vw;
		background: white;

		.grid-sizer {
			width: 0.1vw;
		}

		.item { 
			width: 14.4vw;
			margin: 0 0.5vw 0.5vw 0;

			img {
				width: 100%;
				&:hover {
					cursor: pointer;
				}
			}
			p {
				padding: 0 1vw;
			}
		}

		.itemClicked {
			width: 29.4vw;
			img {
				width: auto;
				display: block;
				margin: 0 auto;
				max-width: 29vw;
				max-height: 50vh;	
			}
			.itemText {
				display: block;
			}
			hr {
				width: 75%;
			}
		}

		.itemText {
			display: none;
		}

	}
	
}

.bottomPiece {
	min-height: 80vh;
	padding: 10vh 0;
	position: relative;
	overflow: hidden;
	border-bottom: solid 10px papayawhip;	

	p:nth-of-type(1) {
		width: 33em;
		position: relative;
		left: 55vw;
		background-color: white;
	}
	
	p:nth-of-type(2) {
		width: 33em;
		position: relative;
		left: 55vw;
		background-color: white;
	}
}

.returnHome {
	background-color: hsla(44, 30%, 80%, 1);
	padding: 2.5vh;	

	h4 {
		margin: 0;
		span {
			font-size: 0.8em;
		}
	}
}

