.caseTop {
	background: url(./images/backgrounds/personCamera_crop.jpg) no-repeat center center / cover;			
	background-attachment: fixed;
	height: 200vh;
	width: 100vw;
	position: relative;
	overflow: hidden;

	h1 {
		padding: 60vh 0vw 0 22vw;
		text-align: left;
		letter-spacing: 3px;
		margin: 0;
		span {
			font-size: 0.8em;
		}
	}

	h1.arrow {
		padding: 0vh 0 0 40vw;
		margin: 0;
	}

	h2 {
		margin: 0;
		padding: 0vh 0 0 22vw;
		width: 60vw;
		text-align: left;
		color: white;
		font-family: misolight;
		text-align: left;
		font-size: 1.5em;
	}

	a:hover {
		color: white;
		text-decoration: none;
		transition: letter-spacing 10px;
	}


	&:before {
		content: "";
		transform: skew(-22.5deg,0deg);
		width: 100vw;
		height: 200vh;
		left: -100vw;
		position: absolute;
		background-color: hsla(44, 30%, 80%, 1);		
	}

	&:after {
		content: "";
		transform: skew(-22.5deg,0deg);
		width: 100vw;
		height: 200vh;
		position: absolute;
		left: 93vw;
		top: 0;
		background-color: hsla(44, 30%, 80%, 1);
	}

}

.pictureGallery {
	height: 100vh;
	width: 100vw;
	position: relative;

	background: linear-gradient(
	    hsla(0, 0%, 0%, 0.20),
	    hsla(0, 0%, 0%, 0.20)
    ), url(./images/ucs/1mrB/resized/DSC00118.jpg) no-repeat center center / cover;
    background-attachment: fixed;

	.top {
		width: 100%;
		position: absolute;
		top: 7.5vh;
		height: 70vh;

		.conversation {
			width: 40%;
			padding: 2vh;
			float: left;
			height: 55vh;
			
			background-image: linear-gradient( 90deg,
			    hsla(0, 0%, 0%, 1),
			    hsla(0, 0%, 0%, 0)
	        );

	        p {
	        	color: white;
	        	height: 35vh;
	        	overflow-y: scroll;
	        	overflow-x: hidden;
	        	font-size: 1.2em;
	        }

			p:nth-child(4) {
				display: block;
			}

			hr {
				border-color: hsla(0, 0%, 100%, 1);
			}
		}

		h2 {
			display: block;
			width: 60%;
			margin: 0;
			padding: 5vh 5vw;
			float: left;
		}
	}

	.bottom {
		width: 100%;
		position: absolute;
		bottom: 5vh;

		.owlGallery {
			img {
				background-color: white;
				width: 100%;
				height: 20vh;
				padding: 1px 1px 1px 0;
				&:hover {
					cursor: pointer;
				}
			}
		}	
	}
}

.topdiagonal {
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 150vh;
	background-color: hsla(44, 30%, 80%, 1);		
	text-align: center;
	padding: 2% 0;
	transform: skew(0deg, 22.5deg);
}


article {
	width: 100vw;
	background: hsla(0, 0%, 100%, 1);
	padding: 2% 5%;

	h4 {
		width: 70%;
		margin: 0 auto; 
	}
	
	p {	
		width: 70%;
		margin: 0 auto;
		padding: 1%;
		font-size: 1.3em;
	}
	
	p.boldAlinea {
		margin: 0 auto 0 auto;
		padding: 0 1% 0 1%;
		font-size: 1.6em;
	}

	span.byline {
		display: block;
		font-size: 1em;
		width: 70%;
		margin: 0 auto 2vh auto;
		padding: 0 0 0 2.5vw;
		text-align: left;
	}

	img {
		width: 60%;
		float: right;
		padding: 30px;
		transform: rotate(-90deg);
	}
}

