.caseTopWrapper {
	width: 100vw;
	height: 400vh;
	position: relative;
	overflow: hidden;
}

.caseTop {
	background: url(./images/backgrounds/personCamera_crop.jpg) no-repeat center center / cover;			
	background-attachment: fixed;
	height: 200vh;
	width: 100vw;
	position: relative;
	overflow: hidden;

	h1 {
		padding: 60vh 0vw 0 22vw;
		text-align: left;
		letter-spacing: 3px;
		margin: 0;
		span {
			font-size: 0.8em;
		}
	}

	h1.arrow {
		padding: 0vh 0 0 40vw;
		margin: 0;
	}

	h2 {
		margin: 0;
		padding: 0vh 0 0 22vw;
		width: 60vw;
		text-align: left;
		color: white;
		font-family: misolight;
		text-align: left;
		font-size: 1.5em;
	}

	a:hover {
		color: white;
		text-decoration: none;
		transition: letter-spacing 10px;
	}


	&:before {
		content: "";
		transform: skew(-22.5deg,0deg);
		width: 100vw;
		height: 200vh;
		left: -100vw;
		position: absolute;
		background-color: hsla(44, 30%, 80%, 1);		
	}

	&:after {
		content: "";
		transform: skew(-22.5deg,0deg);
		width: 100vw;
		height: 200vh;
		position: absolute;
		left: 93vw;
		top: 0;
		background-color: hsla(44, 30%, 80%, 1);
	}

}

.dataVisualisation {
	height: 200vh;
	width: 100vw;
	position: absolute;
	top: 150vh;
	background-color: hsla(44, 30%, 80%, 1);
	border-bottom: solid 1px black;	
	
	text-align: center;
	padding: 2% 0;
	transform: skew(0deg, 22.5deg);

	.textblock1 {
		transform: skew(0deg, -22.5deg);
		position: relative;
		// right: 10vw;
		top: 100vh;
		text-align: left;

		h3 {
			text-align: right;
			position: relative;
			right: 5vw;
		}

		p {
			display: block;
			width: 40vw;
			margin: 0 5vw 11px 0px;
			position: relative;
			left: 55vw;
		}
	}
}

.middlepiece {
	height: 70vh;
	overflow: hidden;

	.textblock2 {
		width: 40vw;
		position: relative;
		left: 5vw;
	}
}

.photoSection {
	width: 100vw;
	// border-top: 1px solid black;
	background-color: hsla(44, 30%, 80%, 1);
	
	#photoPiece {
		margin: 0 auto;
		width: 75vw;
		padding: 10vh 0 10vh 0;

		.grid-sizer {
			width: 0.1vw;
		}

		.item { 
			width: 14vw;
			margin: 0 1vw 1vw 0;
			img {
				width: 100%;
				&:hover {
					cursor: pointer;
				}
			}
		}

		.itemClicked {
			width: 29vw;
			margin: 0 1vw 1vw 0;
			// transition: width 0.4s, height 0.4s;
			img {
				width: 100%;
			}
			.itemText {
				display: block;
			}
		}

		.itemText {
			display: none;
		}

	}
	
}

.bottomPiece {
	height: 100vh;

	.textblock3 {
		width: 40vw;
		position: relative;
		top: 20vh;
		left: 55vw;
	}
}

.returnHome {
	background-color: hsla(44, 30%, 80%, 1);
	padding:2.5vh;	

	h1 {
		margin: 0;	
	}
}

