// body {
// 	background-color: $gray3;
// }

// The big beyond screensize boxes and their positions

$sizew: 120vw;
$sizeh: 120vh;

.fullScreenBox {
	box-sizing: border-box;

	width: $sizew;
	height: $sizeh;

	position: absolute;

	background-size: 100% 100%, cover, cover;
	background-position: top center, top center, top center;

	border: 5px solid rgba(88,88,88, 1);
}

.pos1 {
	left: 0vw;
}
.pos2 {
	left: $sizew;
}
.pos3 {
	left: ($sizew * 2);
}
.pos4 {
	left: 0vw;
	top: $sizeh;
}
.pos5 {
	left: $sizew;
	top: $sizeh;

	h1 {
		font-size: 4em;
	}
}
.pos6 {
	left: ($sizew * 2);
	top: $sizeh;
}
.pos7 {
	left: 0vw;
	top: ($sizeh * 2);
}
.pos8 {
	left: $sizew;
	top: ($sizeh * 2);
}
.pos9 {
	left: ($sizew * 2);
	top: ($sizeh * 2);
}

.fbg1 {
	background-image: url('./images/frontrijkskader.png'), linear-gradient(
      rgba(0, 0, 0, 0.10), 
      rgba(0, 0, 0, 0.10)
    ), url('./images/frontrijks.jpg');		
}

.fbg2 {background-image: url('./images/librijkskader.png'), linear-gradient(
      rgba(0, 0, 0, 0.10), 
      rgba(0, 0, 0, 0.10)
    ), url('./images/librijks.jpg');
}

.fbg3 {
	background-image: url('./images/nachtwachtkader.png'), linear-gradient(
      rgba(88, 88, 88, 0.60), 
      rgba(88, 88, 88, 0.60)
    ), url('./images/nachtwacht.jpg');
}

.fbg4 {
	background-image: url('./images/rijkswhitekader.png'), linear-gradient(
      rgba(0, 0, 0, 0.10), 
      rgba(0, 0, 0, 0.10)
    ), url('./images/rijkswhite.jpg');
}


// styling for mainbox
.centerSite {
	h1 {
		width: 60vw;
		position: relative;
		top: 40vh;
		left: 30vw;

		background: $gray5;
		text-align: center;

	}
}

.thought {
	color: $gray8;
	opacity: 0.1; 
	font-size: 2.5em;
	transition: opacity, 1s; 
	&:hover {
		opacity: 1;
	}
}

.t1 {
	position: absolute;
	top: 20vh;
	left: 20vw; 
}

.t2 {
	position: absolute;
	top: 80vh;
	left: 75vw;
}

.t3 {
	position: absolute;
	top: 30vh;
	left: 70vw;
}

.vid {
	margin: ($sizeh * 0.2) ($sizew * 0.2);
	width: $sizew * 0.6;
	height: $sizeh * 0.6;
}

.vidOverlay {
	position: absolute;
	top: ($sizeh * 0.2);
	left: ($sizew * 0.2);
	width: $sizew * 0.6;
	height: $sizeh * 0.55;
	background-color: $gray5;
	opacity: 0.7;
}
