.post {
  user-select: none;
  margin-bottom: 0px;
  position: relative;
  clear: both;

  header {
    clear: both;
    position: relative;
    width: 100vw;
    height: auto;
    margin: 0 0 0 0;

    h1 {
      font-family: NittyBold;
      font-size: 1.2em;
      position: absolute;
      left: 0px;
      bottom: 0.7em;
      margin: 0;
      width: 100%;
      text-align: left;
      padding: 0.7em 1em;
      color: white;
      background-color: black;
      opacity: 0.2;
    }

    img {
      width: 100vw;
      height: auto;
      display: block;
    }

    .selector {
      display: block;
      opacity: 0;
      width: 100vw;
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background-color: $colorYellow;
    }

    &:hover {
      h1 {
        color: white; 
        opacity: 0.9;
      }
    }
  }

  section {
    margin-top: 2em;
    margin-bottom: 4em;

    h1 {
      font-family: NittyBold;
      font-size: 1.7em;
    }

    h2 {
      font-family: NittyBold;
      font-size: 1.3em;
    }

    h3 {
      font-family: NittyBold;
      font-size: 1.2em;
    }

    h1, h2, h3 {
      margin-bottom: 1em;
    }

    h2, h3 {
      margin-top: 2em;
    }

    a {
      display: inline-block;
      padding: 0.1em 0.4em;
      background-color: black; 
      color: white;

      &:hover {
        background-color: $colorYellow;
        color: black;
        text-decoration: none;
      }
    }

    &.text-content {
      display: none;
    }
  }

  &.selected {
    header {
      &:hover { 
        .selector {
          opacity: 0;
        }
      }
    }
  }

  &.expanded {
    section {
      display: block;
    }
  }

  @media(min-width: $screen-sm-min) {
    font-size: 1.1em;
    header h1 {
      bottom: 1em; 
    }
  }
  @media(min-width: $screen-md-min) {
    font-size: 1.2em;
    header h1 {
      bottom: 1.5em; 
    }
  }

  @media(min-width: $screen-lg-min) {
    font-size: 1.3em;
    header h1 {
      bottom: 2em; 
    }
  }
}

section.meta {
  display: none;
  font-family: NittyBold;
  margin-top: 140px;
  margin-bottom: 0px;
  padding: 50px;
  background-color: black;
  text-align: center;

  th, td {
    color: white;
  }
}

.text-content, .students, .partners, .staff, .goals {
  display: none; 
}

.students {
  column-count: 1;
  h1 {
    text-align: center;
  }

  .profile {
    margin: 1em;
    border: 0.5em solid $colorGrayLight;
    background-color: $colorGrayDark;
    height: 400px;
  }
}

