
h1 {
	font-family: RobotoSlab;
}

p {
	font-family: Arimo;
}

.homeContainer {
	position: relative;
	height: 100vh;
	width: 840vw;
	overflow: hidden;
}

// @media screen and (max-device-width: 1024px){
// 	.homeHeader {
// 		background-attachment: scroll;
// 	}
// }

.homeHeader {
	float: left;
	height: 100vh;
	width: 140vw;
	background: url(./images/backgrounds/rijkswhite.jpg) no-repeat center center / cover;
	background-attachment: fixed;

	color: #fff;

	.title {
		width: 100vw;
		margin-top: 60vh;
		float: left;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}

	h1 {
		font-size: 6em;
		text-align: center;
	}

	p {
		font-size: 3em;
		text-align: center;
	}
}

.whiteTransition {
	background-image: linear-gradient(112.5deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0) 50%, hsla(0, 0%, 100%, 1) 55%);
	width: 40vw;
	height: 100vh;
	float: left;
	&.inverse {
		background-image: linear-gradient(112.5deg, hsla(0, 0%, 100%, 1), hsla(0, 0%, 100%, 1) 50%, hsla(0, 0%, 100%, 0) 55%);
	}
	&.final {
		width: 5vw;
		background-image: linear-gradient(270deg, hsla(0, 0%, 100%, 1), hsla(0, 0%, 100%, 1) 30%, hsla(0, 0%, 100%, 0) 100%);
	}
}

.homeVideo {

	float: left;
	height: 100vh;
	width: 100vw;
	padding: 0 10vw;

	color: black;
	background-color: white;

	.introVid {
		width: 100%;
		margin: 20vh auto;

		height: 60vh;
	}
	
}

.homeButtonSection {

	float: left;
	height: 100vh;
	width: 120vw;

	background: url(./images/backgrounds/librijks.jpg) no-repeat center center / cover;			
	
	.buttonDiv {
		float: left;
		height: 100vh;
		width: 40vw;

		.button {
			display: block;
			width: 300px;
			height: 100px;
			margin: 40vh auto 0 auto;

			line-height: 100px;
			vertical-align: center;
			font-size: 2em;
			text-align: center;
			color: black;

			border: 2px solid white;
			border-radius: 10px;
			background-color: hsla(0, 0%, 100%, 0.7);

			box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);

			&:hover {
				background-color: hsla(0, 0%, 100%, 1);
			}
		}
	}

}

.homeMethods {
	float: left;
	width: 120vw;
	height: 100vh;

	background-color: white;
	color: black;

	overflow: hidden;
	
	.methodsTop {
		width: 120vw;
		height: 40vh;

		.methodsMainText {
			padding: 5vh 5vw 0 5vw;
			float: left;
			width: 70%;

			h1 {
				padding: 0 5%;
				margin-bottom: 20px;
			}

			p {
				max-width: 1100px;
				padding: 0 5%;
			}
		}

		.furtherReading {
			float: left;
			width: 30%;

			.button {
				display: block;
				width: 300px;
				height: 5vh;
				margin: 17.5vh auto;

				line-height: 5vh;
				vertical-align: center;
				font-size: 2em;
				text-align: center;
				color: black;

				border: 2px solid hsla(0, 0%, 0%, 0.5);
				border-radius: 10px;
				background-color: hsla(0, 0%, 0%, 0);

				box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);

				&:hover {
					background-color: hsla(0, 0%, 0%, 0.1);
				}
			}	
		}
	}

	.textBlock {
		width: 30vw;
		height: 50vh;
		margin: 5vh 3.75vw;
		
		border: 1px solid hsla(0, 0%, 0%, 0.5);
		float: left;
		
		box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);

		// .diagBorder{
		// 	width: 0;
		// 	height: 0;
		// 	float: left;
		// 	border-bottom: 40vh solid black;
		// 	border-left: 15vw solid hsla(0, 0%, 0%, 0);
		// }

		// .diagBorderInverse {
		// 	width: 0;
		// 	height: 0;
		// 	float: left;
		// 	border-top: 40vh solid black;
		// 	border-right: 15vw solid hsla(0, 0%, 0%, 0);
		// }

		.textItself {
			float: left;
			background-color: white;
			width: 100%;
			height: 100%;
			padding: 5%;
			overflow: scroll;

			h1 {
				margin-bottom: 20px;
			}
		}	
	}
}

.homePrototype {

	background: url('./images/backgrounds/nachtwacht.jpg') no-repeat center center / cover;

	p {
		color: white;
		text-align: center;
	}

}

.homeAbout {
	width: 100vw;
	height: 100vh;
	float: left;
	background: hsla(0, 0%, 100%, 1);
	
	h1 {
		text-align: center;
		color: black;
	}

	.people {
		width: 100%;
		height: 40vh;
		padding: 0 10vw;

		.person {
			width: 40%;
			height: 80%;
			margin: 5vh 5%;

			float: left; 

			background-color: hsla(0, 0%, 0%, 1);
		}
	}
}

.homeConnect {
	width: 140vw;
	height: 100vh;
	float: left;
	background: url(./images/backgrounds/rijkswhite.jpg) no-repeat center center / cover;
	background-attachment: fixed;
	
	
	.connectMain {
		width: 100vw;
		height: 100vh;
		float: left;

		.title {
			width: 100%;
			margin-top: 10vh;
			color: white;
			text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

			h1 {
				font-size: 6em;
				text-align: center;
			}

			p {
				font-size: 3em;
				text-align: center;
			}
		}
		
		.waysToConnectContainer {
			width: 400px; 
			margin: 10vh auto;

			.diagBorder{
				width: 0;
				height: 0;
				float: left;
				border-bottom: 50vh solid hsla(0, 0%, 100%, 0.8);
				border-left: 15vw solid hsla(0, 0%, 0%, 0);
			}

			.diagBorderInverse {
				width: 0;
				height: 0;
				float: left;
				border-top: 50vh solid hsla(0, 0%, 100%, 0.8);
				border-right: 15vw solid hsla(0, 0%, 0%, 0);
			}
			
			.connectBoxes {
				width: 400px;
				height: 50vh;
				padding: 20px;
				float: left;
				
				// border: 1px solid hsla(0, 0%, 0%, 0.5);
				
				background-color: hsla(0, 0%, 100%, 0.8);
				box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);

				p {
					color: hsla(0, 0%, 0%, 1);
					font-size: 2em;
					text-align: center;
					clear: both;
				}

				.smallText {
					font-size: 1em;
				}
			
				.socialIcon {
					list-style-type: none;
					margin: 20px auto;
					padding: 0;
					width: 336px;
					display: block;

					li {
						height: 64px;
						width: 64px;
						float: left;
						margin: 10px;
					}
					.facebook {
						background: url(./images/icons/socialicons.jpg) -204px -36px;
					}
					.twitter {
						background: url(./images/icons/socialicons.jpg) -44px -36px;
					}
					.google {
						background: url(./images/icons/socialicons.jpg) -364px -36px;
					}
					.rss {
						background: url(./images/icons/socialicons.jpg) -124px -36px;
					}
				}

				form {
					line-height: 2em;
					text-align: center;
				}
			}	
		}
	}
}

