// General Styling

.block {
   	margin-top: -50px;
   	padding: 150px 30px 150px 30px;
   	min-height: 100%;
}

main {
	min-height: 100%;
}

// Module Specific Styling

// Header module

.maintro {
	background: url(./images/webimages/1_landingpage.jpg) no-repeat center center / cover;
	// background-attachment: fixed;
	
	margin-top: 0px;
   	padding-top: 0px;


	position: relative;
	color: white;

	.title {
		margin: 0 auto;
		padding-top: 170px;
		padding-bottom: 150px;

		h1{
			margin-left: 40px;
			margin-bottom: -5px;
			font-size: 3.6em;
			span {
				display: inline-block;
				&:first-letter {
					font-size: 1.2em;
				}
			}
		}

		p {
			max-width: 29em;
			margin-left: 60px;
			margin-bottom: 0px;
		}

		img {
			margin-top: 10px;
			margin-left: 40px;
			max-width: 15em;
			height: 1.5em;
			width:15em;
		}
	}

	.subtitle {
		position: absolute;
		bottom: 10px;
	}
}

// Intermezzo Backgrounds
<<<<<<< HEAD
=======
.intermezzo {
	color: white;
	position: relative;

	h1 {
		position: absolute;
		bottom: 10px; 
	}

	&.Analyse {
		background: url(./images/webimages/4_visualfeedbackmethods.jpg) no-repeat center center / cover;
		background-attachment: fixed;
	}
>>>>>>> b961a8a3ccba2d85181b828aba2a954735d3b916

.intermezzoAnalyse {
	background: url(./images/webimages/4_visualfeedbackmethods.jpg) no-repeat center center / cover;
	background-attachment: fixed;
}

<<<<<<< HEAD

.intermezzoProto {
	background: url(./images/webimages/3_thatswhatwethinktheywant.jpg) no-repeat center center / cover;
}

.intermezzoEvaluate {
	background: url(./images/webimages/_W4A3487.jpg) no-repeat center center / cover;
	background-attachment: fixed;
}

.intermezzoTheory {
	background: url(./images/webimages/W4A3567.jpg) no-repeat center center / cover;
	background-attachment: fixed;
=======
	&.Proto {
		background: url(./images/webimages/3_thatswhatwethinktheywant.jpg) no-repeat center center / cover;
	}

	&.Evaluate {
		background: url(./images/webimages/W4A3487.jpg) no-repeat center center / cover;
		background-attachment: fixed;
	}

	&.Theory {
		background: url(./images/webimages/W4A3567.jpg) no-repeat center center / cover;
		background-attachment: fixed;
	}
>>>>>>> b961a8a3ccba2d85181b828aba2a954735d3b916
}

// Other modules

// Survey
.infographic {
	width: 100%;
}

// Placing images on textline

img {
	margin-top: 24px;
	width: 100%;
}

// Vimeo video styling

iframe {
	margin-top: 24px;
	width: 100%;
	height: 56.25%;
}

// Masonry

.masonry {
	blockquote {
		margin-bottom: 0;
	}

}

#photoPiece {
	
	img {
		margin-top: 0;
	}

	transition: height 1s;
	.grid-sizer {
		width: 0.1%;
	}

	.item { 
		width: 33%;
		img {
			width: 100%;
			&:hover {
				cursor: pointer;
			}
		}
		
		p {
			padding: 0 10px;
		}
	}

	.itemClicked {
		width: 33%;
		hr {
			width: 75%;
		}
	}

	.itemText {
		display: none;
	}
}

// Footer

footer {
	height: 100px;
	color: lighten($brand-primary, 60%);
	padding-top: 10px;
	font-size: 0.9em;
	text-align: center;
}

