.homeContainer {
	position: relative;
	height: 100vh;
	width: 940vw;
	overflow: hidden;
}

.homeHeader {
	float: left;
	height: 100vh;
	width: 140vw;
	background: url(./images/backgrounds/navigationPeople.jpg) no-repeat center center / cover;
	background-attachment: fixed;

	.title {
		width: 100vw;
		height: 100vh;
		float: left;
		
		overflow: hidden;

		h1 {
			margin: 40vh auto 0 auto;
			text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
		}
		h2 {
			text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
		}
		p {
			width: 60vw;
			padding: 2.5vh 2.5vw;
			margin: 5vh auto;
			
			color: black;
			background-color: hsla(44, 40%, 80%, 0.8);
			box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
		}
	}
}

.whiteTransition {
	background-image: linear-gradient(112.5deg, hsla(44, 40%, 65%, 0), hsla(44, 40%, 65%, 0) 50%, hsla(44, 40%, 65%, 1) 50%);
	width: 40vw;
	height: 100vh;
	float: left;
	&.inverse {
		background-image: linear-gradient(112.5deg, hsla(44, 40%, 65%, 1), hsla(44, 40%, 65%, 1) 50%, hsla(44, 40%, 65%, 0) 50%);
	}
}

.homeVideo {	
	width: 100vw;
	height: 100vh;
	padding: 0 10vw;
	float: left;
	position: relative;
	
	background: linear-gradient(90deg, hsla(44, 40%, 65%, 1), hsla(44, 40%, 65%, 0) 20%, hsla(44, 40%, 65%, 0) 80%, hsla(44, 40%, 65%, 1)), linear-gradient(hsla(44, 40%, 65%, 0.8), hsla(44, 40%, 65%, 0.8)), url('../images/backgrounds/milkmaid.jpg') no-repeat center center / cover;


	.introVid {
		width: 100%;
		height: 60vh;
		margin: 20vh auto;
	}

	h2 {
		position: absolute;
		top: 3vh;
		left: 30vw;
		width: 80vw;
		color: hsla(35, 92%, 100%, 1);
		font-size: 1.3em;
	}
}

.homeButtonSection {
	float: left;
	height: 100vh;
	width: 180vw;

	background: url(./images/backgrounds/personCamera.jpg) no-repeat center center / cover;			
	
	video {
		position: absolute;
		height: 100%;
		width: 100%;
	}

	.buttonDiv {
		float: left;
		height: 100vh;
		width: 100vw;

		h1 {
			margin: 40vh auto 0 auto;
			text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
		}

		h1.arrow {
			margin: 0 auto 0 auto;
			padding: 0 0 0 10vw;
			transform: rotate(90deg);
		}

		h2 {
			margin: 10vh 0 0 0;
			width: 40vw;
			color: white;
			font-size: 1.3em;
		}

		p {	
			margin-top: 35vh;
			color: white;
		}

		a:hover {
			color: white;
		}
	}
}

.homeMethods {
	float: left;
	width: 0vw;
	height: 100vh;

	background-color: hsla(44, 40%, 65%, 1);
	
	.methodsList {
		width: 0vw;
		height: 90vh;
		margin: 5vh 2.5vw;
		overflow: visible;
		float: left;
		white-space: nowrap;

		p {
			text-align: left;
			position: relative;
			
		}

		h4 {
			margin-top: 5vh;
			text-align: left;
			position: relative;
		}

		hr {
			text-align: left;
			width: 50%;
			margin: 0 0 1vh 0;
			position: relative;
		}

		h4:nth-child(1) {
			left: 0vw;
		}
		hr:nth-child(2) {
			left: -1vw;
		}
		p:nth-child(3) {
			left: -2vw;
		}
		p:nth-child(4) {
			left: -3vw;
		}
		p:nth-child(5) {
			left: -4vw;
		}
		p:nth-child(6) {
			left: -5vw;
		}
		p:nth-child(7) {	
			left: -6vw;
		}
		h4:nth-child(8) {
			left: -7vw;
		}
		hr:nth-child(9) {
			left: -8vw;
		}
		p:nth-child(10) {
			left: -9vw;
		}
		p:nth-child(11) {
			left: -10vw;			
		}
	}

	.methodsContent {
		width: 65vw;
		height: 90vh;
		margin: 5vh 2.5vw;
		padding: 0 0 0 5vw;
		float: left;
		position: relative;

	}


}

.homePrototype {
	background: url('./images/backgrounds/nachtwacht.jpg') no-repeat center center / cover;
	text-align: center;
}

.homeAbout {
	width: 100vw;
	height: 100vh;
	float: left;
	
	background-color: hsla(44, 40%, 65%, 1);

	.people {
		width: 100%;
		height: 40vh;
		padding: 5vh 10vw;

		.person {
			width: 15%;
			height: 15%;
			margin: 5% 2.5%;
			float: left; 
		}

		img {
			width: 80%;
			height: 80px;
			background: hsla(0, 0%, 0%, 1);
		}
	}

	.timeline {
		height: 55vh;
		width: 100vw;
		position: relative;
		margin-top: 5vh;

		h4 {
			height: 5vh;
			margin: 0;
		}

		.theLine {
		width: 145vw;
		height: 2.5vh;
		position: absolute;
		top: 15vh;
		left: -10vw;
		z-index:1; 
		// border-radius: 10px;

		background-color: hsla(44, 100%, 0%, 1);

			&:after {
				content: "";
				background: linear-gradient(90deg, hsla(0, 0%, 0%, 1), hsla(0, 0%, 0%, 0)) no-repeat center center / cover;
				position: absolute;
				left: 145vw;
				height: 2.5vh;
				width: 15vw; 
			}
		}

		.left {
			width: 55vw;
			height: 60vh;
			float: left;

			.singleTimeItem {
				height: 55vh;
				width: 14%;
				float: left;

				.timepoint {
					height: 7.5vh;
					width: 20%;
					position: relative;
					top: 7.5vh;
					left: 40%;
					// border-radius: 40px;
					background-color: hsla(44, 100%, 0%, 1);
				}

				p {
					position:relative;
					top: 13vh;
					transform: rotate(-45deg);
					font-size: 1.5em;
				}

			}
			.date {
				position: relative;
				top: 14vh;
			}
		}

		.right {
			width: 35vw;
			height: 40vh;
			z-index: 5;
			position: absolute;
			left: 55vw;
			margin: 2.5vw;
			padding: 2.5vw;

			overflow: scroll;
			
			background-color: hsla(44, 40%, 80%, 0.8);
			border: 1px solid hsla(0, 0%, 0%, 0.5);
			box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);

			h4 {
				text-align: left;
			}
		}
	}
}

.homeConnect {
	width: 140vw;
	height: 100vh;
	float: left;

	background: url(./images/backgrounds/frontrijks.jpg) no-repeat center center / cover;
	background-attachment: fixed;

	.connectMain {
		width: 100vw;
		height: 100vh;
		float: left;

		.title {
			width: 100%;
			margin-top: 10vh;
			color: white;
			text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
		}
		
		.waysToConnectContainer {
			width: 400px; 
			margin: 10vh auto;
			
			.connectBoxes {
				width: 400px;
				height: 50vh;
				padding: 20px;
				float: left;
				overflow: scroll;
				
				background-color: hsla(44, 40%, 80%, 0.8);
				box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
				text-align: center;

				.smallText {
					font-size: 1em;
				}
			
				.socialIcon {
					list-style-type: none;
					margin: 20px auto;
					padding: 0;
					width: 336px;
					display: block;

					li {
						height: 64px;
						width: 64px;
						float: left;
						margin: 10px;
					}
					.facebook {
						background: url(./images/icons/socialicons.jpg) -204px -36px;
					}
					.twitter {
						background: url(./images/icons/socialicons.jpg) -44px -36px;
					}
					.google {
						background: url(./images/icons/socialicons.jpg) -364px -36px;
					}
					.rss {
						background: url(./images/icons/socialicons.jpg) -124px -36px;
					}
				}

				form {
					line-height: 2em;
				}
			}	
		}
	}
}

