.homeContainer {
	position: relative;
	height: 100vh;
	width: 890vw;
	overflow: hidden;
}

.homeHeader {
	float: left;
	height: 100vh;
	width: 210vw;
	padding: 0 70vw 0 0vw;
	background: url(./images/backgrounds/navigationPeople.jpg) no-repeat center center / cover;
	background-attachment: fixed;
	overflow: hidden;

	.title {
		width: 100vw;
		height: 100vh;
		float: left;
		overflow: hidden;
		position: relative;

		h1 {
			margin: 67vh auto 0 32vw;
			text-align: left;
			letter-spacing: 5px;
		}
		h2 {
			text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
		}
		p {
			width: 60vw;
			padding: 0.5vh 2.5vw 0 0vw;
			margin: 0vh 0 0vh 32vw;
			color: white;
		}
		span {
			font-size: 0.8em;
			letter-spacing: 3px;
		}

		span.second {
			font-size: 1em;
			letter-spacing: 5px;
		}

		.logos {
			display: block;
			width: 81vw;
			margin: 2vh 0 0 32vw;

			img {
				width: 30vw;
				margin: 0 5vw 0 0;
			}

		}
	}
}

.homeVideo {	
	width: 0vw;
	float: left;
	position: relative;
	left: -70vw;
	transform: skew(-22.5deg,0deg);
	
	&:before {
		content: "";
		width: 140vw;
		height: 100vh;
		position: absolute;
		background: linear-gradient(90deg, hsla(44, 40%, 80%, 1), hsla(44, 40%, 80%, 0) 5%, hsla(44, 40%, 80%, 0) 95%, hsla(44, 40%, 80%, 1)), linear-gradient(hsla(44, 40%, 65%, 1), hsla(44, 40%, 65%, 1));		
	}

	.contents {
		width: 100vw;
		height: 100vh;
		position: absolute;
		left: 20vw;
		background: linear-gradient(90deg, hsla(44, 40%, 65%, 1), hsla(44, 40%, 65%, 0) 20%, hsla(44, 40%, 65%, 0) 80%, hsla(44, 40%, 65%, 1)), linear-gradient(hsla(44, 40%, 80%, 0.7), hsla(44, 40%, 80%, 0.7));

		iframe {
			display: block;
			width: 60vw;
			margin: 25vh 20vw;
			transform: skew(22.5deg,0deg);
		}

		h2 {
			position: absolute;
			top: 3vh;
			left: 40vw;
			width: 40vw;
			transform: skew(22.5deg,0deg);
			
			color: hsla(0, 0%, 20%, 1);
			text-align: left;
			font-family: misolight;
			font-size: 1.4em;
		}
	}
}

.homeButtonSection {
	float: left;
	height: 100vh;
	width: 180vw;
	margin: 0 30vw;
	padding: 0 40vw 0 40vw;

	background: url(./images/backgrounds/personCamera_crop.jpg) no-repeat center center / cover;			

	h1 {
		margin: 40vh 20vw 0 0;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	}

	h1.arrow {
		margin: 10vh 20vw 0 0;
	}

	h2 {
		font-family: misolight;
		margin: 10vh 0 0 0;
		width: 40vw;
		color: white;
		font-size: 1.3em;
	}

	p {	
		margin: 25vh 0 0 0;
		color: white;
		text-align: center;
	}

	a:hover {
		color: white;
	}
}

.homeMethods {
	width: 0vw;
	float: left;
	position: relative;
	left: -70vw;

	transform: skew(-22.5deg,0deg);

	&:before {
		content: "";
		width: 140vw;
		height: 100vh;
		position: absolute;
		background: linear-gradient(90deg, hsla(44, 40%, 80%, 1), hsla(44, 40%, 80%, 0) 5%, hsla(44, 40%, 80%, 0) 95%, hsla(44, 40%, 80%, 1)), linear-gradient(hsla(44, 40%, 65%, 1), hsla(44, 40%, 65%, 1));		
		// background-color: hsla(44, 40%, 65%, 1);
	}

	.methodsList {
		width: 30vw;
		height: 100vh;
		padding: 5vh 5vw;
		position: absolute;
		left: 20vw;

		background-color: hsla(44, 30%, 80%, 1);

		p {
			text-align: left;
			transform: skew(22.5deg,0deg);
		}

		h4 {
			margin-top: 5vh;
			text-align: left;
			transform: skew(22.5deg,0deg);
		}

		hr {
			text-align: left;
			width: 50%;
			margin: 0 0 1vh 0;
			transform: skew(22.5deg,0deg);
		}
	}

	.methodsContent {
		width: 60vw;
		height: 100vh;
		padding: 5vh 10vw;
		position: absolute;
		left: 60vw;
		background-color: hsla(44, 30%, 80%, 1);
		overflow-y: scroll;
		overflow-x: hidden;

		p {
			text-align: left;
			transform: skew(22.5deg,0deg);
		}

		span {
			display: inline-block;
		}

		h4 {
			margin-top: 40px;
			text-align: left;
			transform: skew(22.5deg,0deg);
		}

		li {
			transform: skew(22.5deg,0deg);
			margin: 10px 0;
		}
	}
}

.homePrototype {
	background: url('./images/backgrounds/W4A3567.jpg') no-repeat center center / cover;
}

.homeAbout {
	width: 0vw;
	height: 100vh;
	float: left;
	transform: skew(-22.5deg,0deg);
	position: relative;
	left: -85vw;

	background-color: hsla(44, 40%, 65%, 1);
	
	&:before {
		content: "";
		width: 140vw;
		height: 100vh;
		position: absolute;
		// background-color: hsla(44, 40%, 65%, 1);
		background: linear-gradient(90deg, hsla(44, 40%, 80%, 1), hsla(44, 40%, 80%, 0) 5%, hsla(44, 40%, 80%, 0) 95%, hsla(44, 40%, 80%, 1)), linear-gradient(hsla(44, 40%, 65%, 1), hsla(44, 40%, 65%, 1));		
		z-index: -1000;
	}

	.people {
		width: 100vw;
		height: 35vh;
		padding: 2.5vh 2.5vw;
		margin: 5vh 20vw;
		background-color: hsla(44, 30%, 80%, 1);
	
		h4 {
			transform: skew(22.5deg,0deg);
			margin-bottom: 1vh;
		}

		.person {
			width: 15vw;
			height: 15vh;
			margin: 5vh 2vw;
			float: left; 
			transform: skew(22.5deg,0deg);
		}

		p {
			text-align: center;
		}

		img {
			display: block;
			width: 60%;
			margin: 0 auto;
			background: hsla(0, 0%, 0%, 1);

		}
	}

	.timeline {
		height: 50vh;
		width: 100vw;
		margin: 5vh 20vw;
		padding: 2.5vh 2.5vw;
		
		position: relative;

		background-color: hsla(44, 40%, 80%, 1);

		h4.timelineTitle {
			height: 5vh;
			margin: 0 0 0 25vw;
			text-align: left;
			transform: skew(22.5deg,0deg);
		}

		.theLine {
			width: 145vw;
			height: 2.5vh;
			position: absolute;
			top: 15vh;
			left: -10vw;
			z-index:1; 
			transform: skew(22.5deg,0deg);

			background-color: hsla(44, 100%, 0%, 1);

			&:after {
				content: "";
				background: linear-gradient(90deg, hsla(0, 0%, 0%, 1), hsla(0, 0%, 0%, 0)) no-repeat center center / cover;
				position: absolute;
				left: 145vw;
				height: 2.5vh;
				width: 15vw; 
			}
		}

		.left {
			width: 65vw;
			height: 60vh;
			float: left;

			.singleTimeItem {
				height: 55vh;
				width: 14%;
				float: left;

				.timepoint {
					height: 7.5vh;
					width: 20%;
					position: relative;
					top: 5vh;
					left: 40%;
					background-color: hsla(44, 100%, 0%, 1);
					transform: skew(22.5deg,0deg);
				}

				p {
					position:relative;
					top: 12vh;
					left: 2vw;
					font-size: 1.5em;
					text-align: right;
					transform: skew(22.5deg,0deg) rotate(-45deg);
				}

				h4 {
					position: relative;
					top: 11.5vh;
					transform: skew(22.5deg,0deg);
				}

			}
			
		}

		.right {
			width: 35vw;
			height: 40vh;
			z-index: 5;
			position: absolute;
			left: 55vw;
			margin: -2.5vh 20vw;
			padding: 2.5vw;
			overflow: scroll;
		
			background-color: hsla(44, 40%, 80%, 0.8);
			border: 1px solid hsla(0, 0%, 0%, 0.5);
			box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);

			h4 {
				transform: skew(22.5deg,0deg);
				text-align: left;
			}
			span {
				display: inline-block;
				transform: skew(22.5deg,0deg);
			}
		}
	}
}

.homeConnect {
	width: 200vw;
	height: 100vh;
	padding: 0 0 0 85vw;
	float: left;

	background: url(./images/backgrounds/W4A3502.jpg) no-repeat center center / cover;
	background-attachment: fixed;

	.connectMain {
		width: 100vw;
		height: 100vh;
		float: left;

		.title {
			width: 100%;
			margin-top: 10vh;
			color: white;
			text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

			span {
				font-size: 0.8em;
				letter-spacing: 3px;
			}

			span.second {
				font-size: 1em;
				letter-spacing: 5px;
			}
		}
		
		.waysToConnectContainer {
			width: 400px; 
			margin: 10vh auto;
			
			.connectBoxes {
				width: 400px;
				padding: 20px;
				float: left;
				
				background-color: hsla(44, 40%, 80%, 0.8);
				box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
				text-align: center;

				.smallText {
					font-size: 1em;
				}
			
				.socialIcon {
					list-style-type: none;
					margin: 20px auto;
					padding: 0;
					width: 336px;
					display: block;

					li {
						height: 64px;
						width: 64px;
						float: left;
						margin: 10px;
					}
					.facebook {
						background: url(./images/icons/socialicons.jpg) -204px -36px;
					}
					.twitter {
						background: url(./images/icons/socialicons.jpg) -44px -36px;
					}
					.google {
						background: url(./images/icons/socialicons.jpg) -364px -36px;
					}
					.rss {
						background: url(./images/icons/socialicons.jpg) -124px -36px;
					}
				}

				form {
					line-height: 2em;
				}
			}	
		}
	}
}

