// General Styling

.block {
   	min-height: 100%;
}

main {
	min-height: 100%;
}

// Module Specific Styling

// Header module

.maintro {
	background: url(./images/webimages/1_landingpage.jpg) no-repeat center center / cover;
	position: relative;
	color: white;
	
	.title {
		margin: 0 auto;
		padding-top: 120px;
		padding-bottom: 50px;
		color: white;

		h1{
			font-size: 3.6em;
			margin-bottom: 0px;
			span {
				display: inline-block;
				&:first-letter {
					font-size: 1.2em;
				}
			}
		}

		p {
			max-width: 29em;
			margin-top: 0px;
			margin-bottom: 0px;
		}

		img {
			margin-top: 18px;
			margin-right: 4%;
			width:45%;
			min-width: 15em;
		}
	}

	.subtitle {
		margin-left: 20px;
		padding-top: 80px;
		position: absolute;
		bottom: 10px;
	}
}

// Intermezzos
.intermezzo {
	color: white;
	position: relative;

	h1 {
		margin-left: 54px;
		position: absolute;
		padding-top: 400px;
		bottom: 10px; 
		border-bottom: 0.5px;
	}

	&.analyse {
		background: url(./images/webimages/4_visualfeedbackmethods.jpg) no-repeat center center / cover;
		background-attachment: fixed;
	}


	&.proto {
		background: url(./images/webimages/3_thatswhatwethinktheywant.jpg) no-repeat center center / cover;
	}

	&.evaluate {
		background: url(./images/webimages/W4A3487.jpg) no-repeat center center / cover;
		background-attachment: fixed;
	}

	&.theory {
		background: url(./images/webimages/W4A3567.jpg) no-repeat center center / cover;
		background-attachment: fixed;
	}

	&.about {
		background: url(./images/webimages/W4A3367.jpg) no-repeat center center / cover;
	}

}

// Other modules

// Survey
.infographic {
	width: 100%;
}

// Placing images on textline

img {
	margin-top: 24px;
	width: 100%;
}

// Vimeo video styling

.embed-container { 
	position: relative; 
	margin-top: 24px;
	padding-bottom: 56.25%; 
	height: 0; 
	overflow: hidden; 
	max-width: 100%; 
	height: auto; 
} 

.embed-container iframe, .embed-container object, .embed-container embed { 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
}



// Masonry

.masonry {
	blockquote {
		margin-bottom: 0;
	}

}

#photoPiece {
	
	img {
		margin-top: 0;
	}

	transition: height 1s;
	.grid-sizer {
		width: 0.1%;
	}

	.item { 
		width: 33%;
		img {
			width: 100%;
			&:hover {
				cursor: pointer;
			}
		}
		
		p {
			padding: 0 10px;
		}
	}

	.itemClicked {
		width: 33%;
		hr {
			width: 75%;
		}
	}

	.itemText {
		display: none;
	}
}

// About


.people {
		.person {
			width: 100%;
			padding: 10px;

		}

		p {
			float: left;
			color: red;
			padding-left: 10px;
		}


		img {
			display: block;
			width: 30%;
			margin: 0 auto;
			border-left: solid 10px black;
			float: left;

		}

	}

// Footer
footer {
	height: 150px;
	color: lighten($brand-primary, 60%);
	padding-top: 10px;
	font-size: 0.9em;
	text-align: center;
		}

.footer {
	.sitemap {
		margin-bottom: 40px;
	}
		a {
	  		color: lighten($sitemap-default-brand-color, 40%);
		}
	}


