
.homeContainer {
	position: relative;
	height: 100vh;
	width: 600vw;
	// background: url('./images/rijksPanorama.jpg') no-repeat center center / cover;
	overflow: hidden;
}

.homeHeader {
	float: left;
	height: 100vh;
	width: 100vw;

	// background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 1) 0%, hsla(0, 0%, 100%, 1) 10%, hsla(0, 0%, 100%, 0) 15%, hsla(0, 0%, 100%, 0) 85%, hsla(0, 0%, 100%, 1) 90%, hsla(0, 0%, 100%, 1) 100%),
	background-image: url(./images/rijkswhite.jpg);
	background-attachment: fixed;
	color: #fff;

	.title {
		position: relative;
		top: 30%;
		width: 100vw;
	}

	h1 {
		font-size: 6em;
		text-align: center;
		font-family: RobotoSlab;
	}

	p {
		font-size: 3em;
		text-align: center;
	}

	hr {
		border-color: white;
	}
}

.whiteTransition {
	background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 1) 0%, hsla(0, 0%, 100%, 1) 10%, hsla(0, 0%, 100%, 0) 15%, hsla(0, 0%, 100%, 0) 85%, hsla(0, 0%, 100%, 1) 90%, hsla(0, 0%, 100%, 1) 100%),
                      linear-gradient(90deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 1));
	width: 10vw;
	height: 100vh;
	float: left;
	&.inverse {
		background-image: linear-gradient(180deg, hsla(0, 0%, 100%, 1) 0%, hsla(0, 0%, 100%, 1) 10%, hsla(0, 0%, 100%, 0) 15%, hsla(0, 0%, 100%, 0) 85%, hsla(0, 0%, 100%, 1) 90%, hsla(0, 0%, 100%, 1) 100%),
                      linear-gradient(270deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 1));
	}
}

.homeVideo {

	float: left;
	height: 100vh;
	width: 100vw;
	padding: 0 10vw;

	color: black;
	
	// background-color: white;
	background-image: radial-gradient(at top left, hsla(0, 0%, 100%, 1), hsla(0, 0%, 100%, 1) 60%, hsla(0, 0%, 100%, 0) 150%), url(./images/librijks.jpg);

	.introVid {
		width: 100%;
		margin: 20vh auto;

		height: 60vh;
	}
	
}

.homeCaseStudy {

	float: left;
	height: 100vh;
	width: 100vw;
	
	// background-color: purple;
	background-image: radial-gradient(at top left, hsla(0, 0%, 100%, 1), hsla(0, 0%, 100%, 1) 10%, hsla(0, 0%, 100%, 0) 50%), 
						radial-gradient(at bottom right, hsla(0, 0%, 100%, 1), hsla(0, 0%, 100%, 1) 10%, hsla(0, 0%, 100%, 0) 50%),
						url(./images/librijks.jpg);

	button {
		width: 300px;
		height: 100px;

		position: relative;
		top: 40%;
		left: 40%;

		color: white;
		background-color: black;
	}
}

.homeMethods {
	float: left;

	width: 100vw;
	height: 100vh;
	padding: 30px;

	background-color: white;
	color: black;

	overflow: hidden;
}

.homePrototypes {

}

.homePeople {

}

.homeTimeline {

}

.homeConnect {

}