
.homeContainer {
	position: relative;
	height: 100vh;
	width: 710vw;
	overflow: hidden;
}

.homeHeader {
	float: left;
	height: 100vh;
	width: 140vw;
	background: url(./images/rijkswhite.jpg) no-repeat center center / cover;
	background-attachment: fixed;
	color: #fff;

	.title {
		width: 100vw;
		margin-top: 30%;
		float: left;
	}

	h1 {
		font-size: 6em;
		text-align: center;
		font-family: RobotoSlab;
	}

	p {
		font-size: 3em;
		text-align: center;
	}

	hr {
		border-color: white;
	}
}

.whiteTransition {
	background-image: linear-gradient(112.5deg, hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0) 50%, hsla(0, 0%, 100%, 1) 55%);
	width: 40vw;
	height: 100vh;
	float: left;
	&.inverse {
		background-image: linear-gradient(112.5deg, hsla(0, 0%, 100%, 1), hsla(0, 0%, 100%, 1) 50%, hsla(0, 0%, 100%, 0) 55%);
	}
}

.homeVideo {

	float: left;
	height: 100vh;
	width: 100vw;
	padding: 0 10vw;

	color: black;
	background-color: white;

	.introVid {
		width: 100%;
		margin: 20vh auto;

		height: 60vh;
	}
	
}

.homeButtonSection {

	float: left;
	height: 100vh;
	width: 120vw;

	background-image: url(./images/librijks.jpg);			
	
	.buttonDiv {
		float: left;
		height: 100vh;
		width: 40vw;

		.button {
			display: block;
			width: 300px;
			height: 100px;
			margin: 40vh auto;

			line-height: 100px;
			vertical-align: center;
			font-size: 2em;
			text-align: center;
			color: black;

			border: 2px solid white;
			border-radius: 10px;
			background-color: hsla(0, 0%, 100%, 0.7);

			&:hover {
				background-color: hsla(0, 0%, 100%, 1);
			}
		}
	}

}

.homeMethods {

	float: left;

	width: 130vw;
	height: 100vh;
	padding: 2vw;

	background-color: white;
	color: black;

	overflow: hidden;

	h1 {
		padding: 0 5%;
	}

	p {
		max-width: 1100px;
		padding: 0 5%;
	}

	.textBlock {
		width: 30vw;
		height: 40vh;
		margin: 5vw;
		
		border: 1px solid hsla(0, 0%, 0%, 0.5);
		float: left;
		
		// border: 1px solid black;
		box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);

		// .diagBorder{
		// 	width: 0;
		// 	height: 0;
		// 	float: left;
		// 	border-bottom: 40vh solid black;
		// 	border-left: 15vw solid hsla(0, 0%, 0%, 0);
		// }

		// .diagBorderInverse {
		// 	width: 0;
		// 	height: 0;
		// 	float: left;
		// 	border-top: 40vh solid black;
		// 	border-right: 15vw solid hsla(0, 0%, 0%, 0);
		// }


		.textItself {
			float: left;
			background-color: white;
			width: 100%;
			height: 100%;
			padding: 5%;
			overflow: scroll;
		}	
	}
}

.homePrototype {

	background: url('./images/nachtwacht.jpg') no-repeat center center / cover;

}

.homeAbout {
	width: 100vw;
	height: 100vh;
	float: left;
	background: hsla(0, 0%, 100%, 1);
	
	h1 {
		text-align: center;
		color: black;
		font-family: RobotoSlab;
	}

	.people {
		width: 100%;
		height: 40vh;
		padding: 0 10vw;

		.person {
			width: 40%;
			height: 80%;
			margin: 5vh 5%;

			float: left; 

			background-color: hsla(0, 0%, 0%, 1);
		}
	}

	.connect {

	}

}
