.site-header {

  .logo {
    width: 100vw;
    height: 100vh;
    background-color: $colorGreen;
  }

  .navbar {
    bottom: 0;
    font-family: NittyBold;
    opacity: 1;
    margin: 0;
    border: none;
    ul {
      width: 100%;
    }

    li {
      width: 25%;
      text-align: center;
      overflow: hidden;
    }
  }
}
