/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */
@font-face {
  font-family: NittyNormal;
  src: url('../fonts/NN.woff') format('woff');
}

@font-face {
  font-family: NittyBold;
  src: url('../fonts/NB.woff') format('woff');
}

$line-height-base: 1.6 !default; // 20/14

$colorYellow: #E5CF39 !default;
$colorGrayDark: #404040 !default;
$colorBlue: #75C7B3 !default;
$colorRed: #E34D2F !default;
$colorGrayLight: #eeeeee !default;

$list-group-bg: black;
$list-group-border: none;
$list-group-active-bg: $colorYellow !default;
$list-group-active-color: black !default;

$list-group-border-radius: 0;

$navbar-inverse-color: black;
$navbar-height: 100px;
$navbar-inverse-bg: black;
$navbar-inverse-link-color: white;
$navbar-inverse-link-active-color: $colorGrayDark;
$navbar-inverse-link-active-bg: $colorYellow;

$grid-float-breakpoint: 0;

$brand-primary: $colorBlue !default;

$font-family-monospace: NittyNormal, Menlo, Monaco, Consolas, "Courier New", monospace !default;
$font-family-base: $font-family-monospace !default;

@import "./src/styles/components/_normalize";
@import "./bootstrap/bootstrap";
@import "./src/styles/components/_modules/_featured-spotlight";
@import "./src/styles/components/_modules/_site-logo";


// html,

.container-fluid {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

.content {
  position: relative;
  &.open {
    left: 250px;
  }
}
