<article class="post" 
         id="{{post.id}}" 
         ui-sref-active="active" class="active" 
         ng-class="{selected: post.selected, expanded:post.expanded}">


  <header>
    <a ng-show="!post.selected" 
       href ui-sref="posts.post({post_id: post.id})">
      <img ng-src="{{post.headerImage.url}}"/>
      <div class="selector"></div>

      <h1>{{post.title | underscorize}}</h1>

    </a>
    <a ng-show="post.selected" 
       ng-click="toggleExpanded()">
      <img ng-src="{{post.headerImage.url}}"/>
      <div class="selector"></div>

      <h1>{{post.title | underscorize}}</h1>

    </a>
  </header>

  <section class="text-content col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-1 col-lg-6 col-lg-offset-2 csSlideUp">
    <div ng-bind-html="post.content | markdown"></div>
  </section>


  <section class="meta col-xs-12 col-md-2 col-md-offset-1 col-lg-2 col-lg-offset-2">
    <table class="table">
      <thead>
        <th>Meta</th>
      </thead>
      <tr ng-repeat="author in post.authors">
        <td>{{author}}</td>
      </tr>
    </table>
  </section>

</article>
