/*
 * Web Starter Kit
 *
 * Multi-screen layout styles for your page. Brought to you by the
 * Web Starter Kit team.
 *
 */
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

body {
  position: relative;
  font-weight: 300;
  background-color: #FFFFFF;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  min-height: 100%; }
