<div class="col-lg-6 col-lg-offset-2 col-md-6 col-md-offset-2 col-sm-8 col-sm-offset-0 col-xs-20 col-xs-offset-2">
	<ul class="list-unstyled">
		<li>
			<ul class="list-unstyled">
				<li><h4><a ui-sref="#main"> Home </a></h4></li>
			</ul>
		</li>
		<li>
			<ul class="list-unstyled">
				<li><h4><a ui-sref="#understand"> Understand and Observe</a></h4></li>
				<li>Something</li>
				<li>Something</li>
				<li>Something</li>
			</ul>
		</li>
		<li>
			<ul class="list-unstyled">
				<li><h4><a ui-sref="#analyse"> Analyse and Ideate </a></h4></li>
				<li>Something</li>
				<li>Something</li>
			</ul>
		</li>
	</ul>
</div>
<div class="col-lg-6 col-lg-offset-1 col-md-6 col-md-offset-1 col-sm-8 col-sm-offset-0 col-xs-20 col-xs-offset-2">
	<ul class="list-unstyled">
		<li>
			<ul class="list-unstyled">
				<li><h4><a ui-sref="#prototype"> Prototype and Test </a></h4></li>
				<li>Something</li>
				<li>Something</li>
				<li>Something</li>
			</ul>
		</li>
		<li>
			<ul class="list-unstyled">
				<li><h4><a ui-sref="#evaluate"> Evaluate and Outlook </a></h4></li>
				<li>Something</li>
				<li>Something</li>
				<li>Something</li>
			</ul>
		</li>
		<li>
			<ul class="list-unstyled">
				<li><h4><a ui-sref="#theory"> Theory and Methods </a></h4></li>
				<li>Something</li>
				<li>Something</li>
			</ul>
		</li>
	</ul>
</div>
<div class="col-lg-6 col-lg-offset-1 col-md-6 col-md-offset-1 col-sm-8 col-sm-offset-0 col-xs-20 col-xs-offset-2">
	<ul class="list-unstyled">
		<li>
			<ul class="list-unstyled">
				<li><h4><a ui-sref="home.subroutes({ scrollTo: 'about'})"> About </a></h4></li>
				<li>Something</li>
				<li>Something</li>
				<li>Something</li>
			</ul>
		</li>
		<li>
			<ul class="list-unstyled">
				<li><h4><a ui-sref="impressum"> Impressum </a></h4></li>
			</ul>
		</li>
		<li>
			<p class="copyright">2015 &#169; Augmenting Masterpieces - No babies were harmed in the making of this site.</p>
		</li>
	</ul>
</div>
