<div class="col-lg-6 col-lg-offset-2 col-md-6 col-md-offset-2 col-sm-8 col-sm-offset-0 col-xs-20 col-xs-offset-2">
	<ul class="list-unstyled">
		<ul class="list-unstyled">
			<li><h4><a href="#main"> Home </a></h4></li>
		</ul>
		<ul class="list-unstyled">
			<li><h4><a href="#understand"> Understand and Observe</a></h4></li>
			<li>Assumptions</li>
			<li>Film:Children</li>
			<li>Losing them</li>
		</ul>
		<ul class="list-unstyled">
			<li><h4><a href="#analyse"> Analyse and Ideate </a></h4></li>
			<li>Infographic</li>
			<li>Masonry</li>
		</ul>
	</ul>
</div>
<div class="col-lg-6 col-lg-offset-1 col-md-6 col-md-offset-1 col-sm-8 col-sm-offset-0 col-xs-20 col-xs-offset-2">
	<ul class="list-unstyled">
		<ul class="list-unstyled">
			<li><a href="#prototype"> Prototype and Test </a></li>
		</ul>
		<ul class="list-unstyled">
			<li><a href="#evaluate"> Evaluate and Outlook </a></li>
			<li>Assumptions</li>
			<li>Film:Children</li>
			<li>Losing them</li>
		</ul>
		<ul class="list-unstyled">
			<li><a href="#theory"> Theory and Methods </a></li>
			<li>Infographic</li>
			<li>Masonry</li>
		</ul>
	</ul>
</div>
<div class="col-lg-6 col-lg-offset-1 col-md-6 col-md-offset-1 col-sm-8 col-sm-offset-0 col-xs-20 col-xs-offset-2">
	<ul class="list-unstyled">
		<li><a href="#about"> About </a></li>
		<li><a href="#about"> Impressum </a></li>
	</ul>
</div>
<div class="col-lg-20 col-lg-offset-2 col-md-20 col-md-offset-2 col-sm-20 col-sm-offset-2 col-xs-20 col-xs-offset-2">
	<br>
	<br>
	<p>2015 &#169; Augmenting Masterpieces</p>
</div>
