<div class="col-lg-6 col-lg-offset-2 col-md-6 col-md-offset-2 col-sm-8 col-sm-offset-0 col-xs-20 col-xs-offset-2">
	<ul class="list-unstyled">
		<li>
			<ul class="list-unstyled">
				<li><h4><a ui-sref="home.subroutes"> Home </a></h4></li>
			</ul>
		</li>
		<li>
			<ul class="list-unstyled">
				<li><h4><a ui-sref="home.subroutes"> Understand and Observe</a></h4></li>
				<li><a ui-sref="home.subroutes">Assumptions... - "That's What We Think They Want"</a></li>
				<li><a ui-sref="home.subroutes">...And How To Get Rid Of Them - Visual Feedback Methods</a></li>
				<li><a ui-sref="home.subroutes">Video: User Video Study of Jakob (7)</a></li>
			</ul>
		</li>
		<li>
			<ul class="list-unstyled">
				<li><h4><a ui-sref="home.subroutes"> Analyse and Ideate </a></h4></li>
				<li><a ui-sref="home.subroutes">So, what do visitors relate to? - <i>No comment</i> on the Masterpieces</a></li>
				<li><a ui-sref="home.subroutes">Detailed Case Study: User Camera Study of a Museum Visitor</a></li>
			</ul>
		</li>
	</ul>
</div>
<div class="col-lg-6 col-lg-offset-1 col-md-6 col-md-offset-1 col-sm-8 col-sm-offset-0 col-xs-20 col-xs-offset-2">
	<ul class="list-unstyled">
		<li>
			<ul class="list-unstyled">
				<li><h4><a ui-sref="home.subroutes"> Prototype and Test </a></h4></li>
				<li><a ui-sref="home.subroutes">Social Features For Visitors Engagement</a></li>
				<li><a ui-sref="home.subroutes">Research Trailer: Testing New App Features in the Museum</a></li>
				<li></li>
			</ul>
		</li>
		<li>
			<ul class="list-unstyled">
				<li><h4><a ui-sref="home.subroutes"> Evaluate and Outlook </a></h4></li>
				<li><a ui-sref="home.subroutes">Process Evaluation</a></li>
				<li><a ui-sref="home.subroutes">Concluding Remarks and Outlook</a></li>
				<li></li>
			</ul>
		</li>
		<li>
			<ul class="list-unstyled">
				<li><h4><a ui-sref="home.subroutes"> Theory and Methods </a></h4></li>
				<li><a ui-sref="home.subroutes">Social Augmentation vs. Technological Masterpieces?</a></li>
				<li><a ui-sref="home.subroutes">About the Interdisciplinary Approach</a></li>
				<li><a ui-sref="home.subroutes">Literature</a></li>
			</ul>
		</li>
	</ul>
</div>
<div class="col-lg-6 col-lg-offset-1 col-md-6 col-md-offset-1 col-sm-8 col-sm-offset-0 col-xs-20 col-xs-offset-2">
	<ul class="list-unstyled">
		<li>
			<ul class="list-unstyled">
				<li><h4><a ui-sref="home.subroutes"> About </a></h4></li>
				<li><h4><a ui-sref="home.subroutes"> Contact </a></h4></li>
			</ul>
		</li>
		<li>
			<ul class="list-unstyled">
				<li><h4><a ui-sref="impressum.subroutes"> Impressum </a></h4></li>
			</ul>
		</li>
		<li>
			<p class="copyright">&#169; 2015 Augmenting Masterpieces</p>
			<li><a href="https://github.com/augmenting-masterpieces/AugmentM">See project on GitHub</a></li>
		</li>
	</ul>
</div>
