<nav class="navbar navbar-default navbar-fixed-top" bs-collapse bs-scrollspy-list role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" bs-collapse-toggle>
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" bs-scrollspy href="#main">Augmenting Masterpieces</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbarcontents" bs-collapse-target>
      <ul class="nav navbar-nav">
        <li bs-scrollspy data-target="#understand"><a href="#understand">Understand and Observe</a></li>
        <li bs-scrollspy data-target="#analyse"><a href="#analyse">Analyse and Ideate</a></li>
        <li bs-scrollspy data-target="#prototype"><a href="#prototype">Prototype and test</a></li>
        <li bs-scrollspy data-target="#evaluate"><a href="#evaluate">Evaluate and Outlook</a></li>
        <li bs-scrollspy data-target="#theory"><a href="#theory">Theory and Methods</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li bs-scrollspy data-target="#about"><a href="#about">About</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>