<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarcontents">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="home#main">Augmenting Masterpieces</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbarcontents">
      <ul class="nav navbar-nav">
        <li><a href="#home#understand">Understand and Observe</a></li>
        <li><a href="#home#analyse">Analyse and Ideate</a></li>
        <li><a href="#home#prototype">Prototype and test</a></li>
        <li><a href="#home#evaluate">Evaluate and Outlook</a></li>
        <li><a href="#home#theory">Theory and Methods</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="home#about">About</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>