<nav class="navbar navbar-default navbar-fixed-top" bs-collapse bs-scrollspy-list role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" bs-collapse-toggle>
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" bs-scrollspy ui-sref="home.subroutes({ scrollTo: 'main'})">Augmenting Masterpieces</a>
    </div>
    <div class="collapse navbar-collapse" id="navbarcontents" bs-collapse-target>
      <ul class="nav navbar-nav">
        <li bs-scrollspy data-target="#understand"><a ui-sref="home.subroutes({ scrollTo: 'understand'})">Understand <span class="hidden-sm hidden-md">and Observe</span></a></li>
        <li bs-scrollspy data-target="#analyse"><a ui-sref="home.subroutes({ scrollTo: 'analyse'})">Analyse <span class="hidden-sm hidden-md">and Ideate</span></a></li>
        <li bs-scrollspy data-target="#prototype"><a ui-sref="home.subroutes({ scrollTo: 'prototype'})">Prototype <span class="hidden-sm hidden-md">and Test</span></a></li>
        <li bs-scrollspy data-target="#evaluate" ><a ui-sref="home.subroutes({ scrollTo: 'evaluate'})">Evaluate <span class="hidden-sm hidden-md">and Outlook</span></a></li>
        <li bs-scrollspy data-target="#theory"><a ui-sref="home.subroutes({ scrollTo: 'theory'})">Theory <span class="hidden-sm hidden-md">and Methods</span></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li bs-scrollspy data-target="#about"><a ui-sref="home.subroutes({ scrollTo: 'about'})">About</a></li>
      </ul>
    </div>
  </div>
</nav>