<div class="overflow-container">
	<div class="col-lg-8 col-lg-offset-1 col-md-9 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-24 col-xs-offset-0">
		<h2> Assumptions...</h2>
		<h3>“That's what we think they want.”</h3>
		<p>During an initial expert's meeting at the Rijksmuseum the discussion evolved around digital interfaces the museum already uses, what the different departments wished for in the future in order to cater to the visitor's needs, and how they pursue their goals of engaging museum visitors with the exhibition.</p>
		<p>Soon the discussion focused on what everybody thought the museum visitors actually want - seen from different academic and professional perspectives. The discussion culminated in someone asking: “Do visitors actually want a different experience? Everything that we discuss is just <i>what we think they want<i/>.”</p>
		<p>To reflect on made assumptions can serve as the basis for research. When being aware of them, it is a necessary challenge to get subsequently rid off of them, in order to identify insights for the design thinking process. Thus, to built new interfaces would first of all mean to get valuable input from all the employees running the Rijksmuseum on a daily basis and to engage with the diverse experiences from the museum visitors.</p>
		
	</div>
	<div class="col-lg-13 col-lg-offset-1 col-md-12 col-md-offset-1 col-sm-12 col-sm-offset-0 col-xs-24 col-xs-offset-0 hidden-xs image-container">
		<img class="child" src="images/webimages/visitors_aussumptions.jpg">
	</div>
</div>
