<div class="col-lg-20 col-lg-offset-2 col-md-20 col-md-offset-1 col-sm-20 col-sm-offset-1 col-xs-24 col-xs-offset-0">
	<h2>Social features for visitor's engagement</h2>
	<h3>Doesn't matter how much 'cultural capital' you bring.</h3>
</div>
<div class="col-lg-9 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-11 col-sm-offset-1 col-xs-24 col-xs-offset-0">
	<p>The insights from the Visual Feeback Studies inspired us to prototype social strategies which let the visitors engage with their surrounding on more general terms and independently of their <i>cultural capital</i>, in order make them feel more comfortable and valuable to the museum.</p>
</div>
<div class="col-lg-9 col-lg-offset-2 col-md-10 col-md-offset-2 col-sm-11 col-sm-offset-0 col-xs-24 col-xs-offset-0">
	<p>Instead of providing people with in-depth (art) historical background information about art works, we designed three app features for location-based, random encounters. One of them lets the visitors of the Rijksmuseum discover hidden stories by other visitors throughout the museum, using one of the new app features on their smartphones.</p>
	<p>Rather than following a route, visitors encounter stories coincidentally during their visit and can instantly record and add an observation themselves wherever they like. </p>
	<p>By that, each artwork receives a socially augmented layer. How does it work exactly? Watch the trailer from testing our prototypes. </p></a>
	<br>
</div>
<div class="col-lg-22 col-lg-offset-1 col-md-22 col-md-offset-1 col-sm-22 col-sm-offset-1 col-xs-24 col-xs-offset-0">
	<div class="videos embed-responsive embed-responsive-16by9">
		<iframe src="http://player.vimeo.com/video/112958657" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	</div>
</div>
