<div class="col-lg-6 col-lg-offset-2 col-md-6 col-md-offset-2 col-sm-8 col-sm-offset-0 col-xs-20 col-xs-offset-2">
	<ul class="list-unstyled">
		<li>
			<ul class="list-unstyled">
				<li><h4><a ui-sref="#main"> Home </a></h4></li>
			</ul>
		</li>
		<li>
			<ul class="list-unstyled">
				<li><h4><a href="#understand"> Understand and Observe</a></h4></li>
				<li>Assumptions... - "That's What We Think They Want"</li>
				<li>...And How To Get Rid Of Them - Visual Feedback Methods</li>
				<li>Video: User Video Study of Jakob (7)</li>
			</ul>
		</li>
		<li>
			<ul class="list-unstyled">
				<li><h4><a href="#analyse"> Analyse and Ideate </a></h4></li>
				<li>No comment on the Masterpieces - "I know they are important"</li>
				<li>Detailed Case Study: User Camera Study of a Museum Visitor- </li>
			</ul>
		</li>
	</ul>
</div>
<div class="col-lg-6 col-lg-offset-1 col-md-6 col-md-offset-1 col-sm-8 col-sm-offset-0 col-xs-20 col-xs-offset-2">
	<ul class="list-unstyled">
		<li>
			<ul class="list-unstyled">
				<li><h4><a href="#prototype"> Prototype and Test </a></h4></li>
				<li>It Doesn't Matter How much Cultural Capital You Bring</li>
				<li>Research Trailer: Testing New App Features in the Museum</li>
				<li></li>
			</ul>
		</li>
		<li>
			<ul class="list-unstyled">
				<li><h4><a href="#evaluate"> Evaluate and Outlook </a></h4></li>
				<li>Process Evaluation</li>
				<li>Concluding Remarks and Outlook</li>
				<li></li>
			</ul>
		</li>
		<li>
			<ul class="list-unstyled">
				<li><h4><a href="#theory"> Theory and Methods </a></h4></li>
				<li>Social Augmentation vs. Technological Masterpieces?</li>
				<li>About the Interdisciplinary Approach</li>
				<li>Literature</li>
			</ul>
		</li>
	</ul>
</div>
<div class="col-lg-6 col-lg-offset-1 col-md-6 col-md-offset-1 col-sm-8 col-sm-offset-0 col-xs-20 col-xs-offset-2">
	<ul class="list-unstyled">
		<li>
			<ul class="list-unstyled">
				<li><h4><a href="#about"> About </a></h4></li>
				<li><h4><a href="#about"> Contact </a></h4></li>
			</ul>
		</li>
		<li>
			<ul class="list-unstyled">
				<li><h4><a ui-sref="impressum.subroutes"> Impressum </a></h4></li>
			</ul>
		</li>
		<li>
			<p class="copyright">&#169; 2015 Augmenting Masterpieces</p>
		</li>
	</ul>
</div>
