<div class="col-lg-6 col-lg-offset-2 col-md-6 col-md-offset-2 col-sm-8 col-sm-offset-0 col-xs-20 col-xs-offset-2">
	<ul class="list-unstyled">
		<li>
			<ul class="list-unstyled">
				<li><h4><a ui-sref="#main"> Home </a></h4></li>
			</ul>
		</li>
		<li>
			<ul class="list-unstyled">
				<li><h4><a href="#understand"> Understand and Observe</a></h4></li>
				<li><a href="#assumptions">Assumptions... - "That's What We Think They Want"</a></li>
				<li><a href="#usercamerastudy">...And How To Get Rid Of Them - Visual Feedback Methods</a></li>
				<li><a href="#usercamerastudy">Video: User Video Study of Jakob (7)</a></li>
			</ul>
		</li>
		<li>
			<ul class="list-unstyled">
				<li><h4><a href="#analyse"> Analyse and Ideate </a></h4></li>
				<li><a href="#survey">No comment on the Masterpieces - "I know they are important"</a></li>
				<li><a href="#masonryviewer">Detailed Case Study: User Camera Study of a Museum Visitor</a></li>
			</ul>
		</li>
	</ul>
</div>
<div class="col-lg-6 col-lg-offset-1 col-md-6 col-md-offset-1 col-sm-8 col-sm-offset-0 col-xs-20 col-xs-offset-2">
	<ul class="list-unstyled">
		<li>
			<ul class="list-unstyled">
				<li><h4><a href="#prototype"> Prototype and Test </a></h4></li>
				<li><a href="#demo">It Doesn't Matter How much Cultural Capital You Bring</a></li>
				<li><a href="#demo">Research Trailer: Testing New App Features in the Museum</a></li>
				<li></li>
			</ul>
		</li>
		<li>
			<ul class="list-unstyled">
				<li><h4><a href="#evaluate"> Evaluate and Outlook </a></h4></li>
				<li><a href="#evaluation">Process Evaluation</a></li>
				<li><a href="#evaluation">Concluding Remarks and Outlook</a></li>
				<li></li>
			</ul>
		</li>
		<li>
			<ul class="list-unstyled">
				<li><h4><a href="#theory"> Theory and Methods </a></h4></li>
				<li><a href="#theory">Social Augmentation vs. Technological Masterpieces?</a></li>
				<li><a href="#theory">About the Interdisciplinary Approach</a></li>
				<li><a href="#literature">Literature</a></li>
			</ul>
		</li>
	</ul>
</div>
<div class="col-lg-6 col-lg-offset-1 col-md-6 col-md-offset-1 col-sm-8 col-sm-offset-0 col-xs-20 col-xs-offset-2">
	<ul class="list-unstyled">
		<li>
			<ul class="list-unstyled">
				<li><h4><a href="#about"> About </a></h4></li>
				<li><h4><a href="#about"> Contact </a></h4></li>
			</ul>
		</li>
		<li>
			<ul class="list-unstyled">
				<li><h4><a ui-sref="impressum.subroutes"> Impressum </a></h4></li>
			</ul>
		</li>
		<li>
			<p class="copyright">&#169; 2015 Augmenting Masterpieces</p>
			<li><a href="https://github.com/augmenting-masterpieces/AugmentM">See project on GitHub</a></li>
		</li>
	</ul>
</div>
