<div class="col-lg-8 col-lg-offset-2 col-md-9 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-24 col-xs-offset-0">
	<h2>So, what do visitors relate to?</h2>
	<h3><i>No comment</i> on the Masterpieces.</h3>
	<p>Whereas the amount of time spent in the museum looking at artworks varied largely between the different participants, all of them carefully observed other visitors, listened into their conversations or were reflecting on their own (proper) behaviour. Most of them also described a feeling of awkwardness at times, that was connected to a felt lack of knowledge.</p> 
	<p>The gallery below shows interview snippets and photographs by Chris, a participating 'cultural tourist'. The infographic depicts how long he stayed and what he took pictures of. Chris gave 'no comment' on seven out of his 42 pictures. Five of them, were photographs of famous paintings. When being asked, why he took those pictures, he said: “I know they [the artworks] are important, so I took a picture of them.”</p>
	<p>Though he referenced the pictures as important, their cultural status did not make him retrieve information about them. All his descriptions were based on (coincidental) experiences and social encounters.</p>
	<p>Thus, the <i>social dimensions<i/> of a museum visit are highly important for museum visitors. All of them share a high level of interest in indirect social interaction and in being able to share narratives in an unbiased way.</p>	
</div>

</div>
<div class="col-lg-11 col-lg-offset-1 col-md-12 col-md-offset-1 col-sm-13 col-sm-offset-0 col-xs-24 col-xs-offset-0">
	<img src="images/webimages/infographic_new.jpg">
</div>
