<div class="col-lg-13 col-lg-offset-1 col-md-12 col-md-offset-1 col-sm-22 col-sm-offset-1 col-xs-24 col-xs-offset-0">
	<div class="videos embed-responsive embed-responsive-16by9">
		<iframe src="http://player.vimeo.com/video/112510250" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	</div>
	<h4>We asked children to wear a video camera during their museum visit. Their perspective differs due to their height and we were interested in what they looked at since they are not as culturally trained to visit a museum yet.</h4>
	<p>Language: Dutch. For English subtitles click 'CC' in the player</p>
</div>

<div class="col-lg-8 col-lg-offset-1 col-md-9 col-md-offset-1 col-sm-11 col-sm-offset-1 col-xs-24 col-xs-offset-0">
	<h2>...And How To Get Rid Of Them.</h2>
	<h3>Visual Feedback Methods</h3>
	<p>When being interviewed, survey participants can put their experiences and opinions into words. They describe what they see, feel and thought during their visit. With the User Camera Study we carried out, they are given a digital compact camera as an additional medium to capture details and to express themselves. For the User Video Study we supplied visitors with a wearable camera to collect footage from a first person perspective.</p>
</div>
<div class="col-lg-8 col-lg-offset-1 col-md-9 col-md-offset-1 col-sm-11 col-sm-offset-0 col-xs-24 col-xs-offset-0">	
	<p>The Photographic User Camera Study consists of two phases. First, the participants are given a camera with which they walk through the museum and take pictures of anything drawing their attention. They can choose themselves what they capture, for how long they want to stay in the exhibition and how many pictures they take.</p>
	<p>The collecting phase is followed by a qualitative interview in which the participant first gets to talk about the photographs in a way that is comparable to someone showing their vacation pictures: descriptive and as detailed as they prefer. Later on specific questions concerning sensual experiences <i>(What did you hear, smell, touch?)</i> and digital devices <i>(Which device(s) did you use during your visit and what did you do with it?)</i> are asked.</p>
</div>
